<footer>
  <div class="footer-area container">
    <div class="header-logo">
      <img src="/images/logo-white.png" alt="Logo Opinião Gospel">
      <p>Opinião Gospel</p>
    </div>
    <div class="footer-area-desc">
      <span>Opinião Gospel ©</span>  
      <p style="display: none">Participe deste espaço de discussões e esclareça suas dúvidas sobre a fé cristã, fique por dentro das últimas notícias do meio gospel e descubra mais sobre os principais artistas e líderes religiosos evangélicos</p> 
    </div>
  </div>
</footer>
<script src="js/script.js"></script>
<script src="js/slide.js"></script>
<script>
 
</script>
</body>
</html>