* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root {
  --orange-black: #FF6B00;
  --black-light: #333;
}
body {
  font-family:'DM Sans', sans-serif;
}
header {
  height: 85px;
  /* border-bottom: 1.5px solid #E9EAED; */
}
.container {
  max-width: 90%;
  margin: 0 auto;
}

.header-content {
  width: 100%;
  /* position: fixed; */
  height: 85px;
  background-color: #FFF;
  border-bottom: 1.5px solid #E9EAED;
}
.header-content-desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo,
.header-logo a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logo p {
  color: #333;
  font-size: 20px;
  font-weight: 600;
  margin-left: 5px;
}
.header-icons-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icons-menu nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icons-menu nav li {
  margin: 15px;
}
.area-home img {
  margin-right: 5px;
}
.area-forum img {
  margin-right: 15px;
}
.area-alerts,
.header-persona {
  width: 50px;
  height: 50px;
  border: 1px solid #999;
  border-radius: 35px;
}
.area-home, 
.area-forum,
.area-alerts,
.header-persona {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size:18px;
  font-weight: bold;
}
.area-alerts,
.header-persona,
.header-persona-open {
  display:  flex;
}
.area-alerts,
.header-persona {
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.header-persona a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.area-alerts img,
.header-persona img,
.header-persona-open img {
  width: 75%;
}
.header-persona-perfil {
  display: flex;
  width: 100px;
  position: absolute;
  top: 50px;
  right: 74px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
  background-color: #999999b5;
  cursor: pointer;
}
.header-persona-perfil.close {
  display: none;
}
.area-persona-perfil,
.area-persona-logout {
  width: 100%;
  padding: 10px 7px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.area-persona-logout:hover,
.header-persona-perfil a:hover {
  opacity: 0.5;
  color: #333;
  background-color: #f3e2e2b5;
}
.header-persona-open a {
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.button-enter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 115px;
  background-color: var(--orange-black);
  font-size: 22px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}
.button-enter a {
  color: #FFF;
}
main {
  background-color: #FAF8F5;
}
main .main-news {
  padding: 30px 0px;
  display: flex;
  align-items: center;
}
main .main-news-area1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main-news-subtitle {
  margin: 10px 0px;
}
.main-news-subtitle p {
  width: fit-content;
  padding: 6px;
  font-weight: 500;
  color: #FFF;
  background-color: var(--orange-black);
}
.main-news-title h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: 900;
  color: var(--black-light);
  letter-spacing: 1px;
  padding: 15px 0px;
  cursor: pointer;
}
.main-news-p {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.5px;
  margin: 10px 0px;
  cursor: pointer;
  color: var(--black-light);
}
.main-news-comment {
  display: flex;
  align-items: center;
  justify-content: end;
  font-weight: 600;
  color: var(--black-light);
  margin-right: 15px;
}
.main-news-comment img {
  margin-right: 10px;
}
main .main-news-area2 {
  width: 50%;
  display: flex;
  align-items: end;
  justify-content: center;
}
main .main-news-area2 img{
  width: 100%;
  cursor: pointer;
}
.area-sections-aside {
  width: 100%;
  display: flex;
  /* display: grid; */
  /* grid-template-areas:
  "slidess  forum"
  "slidess  forum"; */
}
.area-sections {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.slide {
  width: 100%;
  grid-area: slidess;
  display: flex;
  
}
.slider {
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.slider--width {
  height: 100%;
  display: flex;
  transition: all ease 0.3s;
}
.slider--item {
  width: 100%;
  /* height: inherit; */
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  /* text-shadow: 0px 1px 1px #333; */
}
.slider--item a {
  width: 100%;
}
.slider--controls {
  position: absolute;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.slider--control {
  width: 25px;
  height: 50px;
  background-color: rgba(255,107,0,0.5);
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider--item-content-1,
.slider--item-content-2,
.slider--item-content-3 {
  width: 100%;
  height: 350px;
  /* background-image: url(../images/jesse-aguiar-570x300.png);
  background-position: center; */
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  padding: 30px;
}
.slider--item-subtitle-1,
.slider--item-subtitle-2,
.slider--item-subtitle-3 {
  font-size: 14px;
  background-color: var(--orange-black);
  width: fit-content;
  color: #fff;
  border-radius: 7px;
  padding: 5px 10px;
  font-weight: 500;
  margin-bottom: 12px;
}
.slider--item-title-1,
.slider--item-title-2,
.slider--item-title-3 {
  width: 100%;
  margin-bottom: 15px;
  background-color: rgba(255,255,255,0.6);
  color: var(--black-light);
  padding: 5px 15px;
  border-radius: 10px;
}
.slider--item-title h2 {
  font-size: 20px;
  font-weight: 600;
}

aside {
  width: 40%; 
  grid-area: forum;
}
.aside-content {
  margin: 0px 20px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #999;
  border-radius: 10px;
  position: sticky;
  top: 20px;
  margin-bottom:20px;
}
.aside-title {
  font-size: 15px;
  background-color: var(--orange-black);
  width: fit-content;
  border-radius: 7px;
  padding: 5px 10px;
  font-weight: 500;
  margin: 20px;
  color: #fff;
}
.aside-forum {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aside-forum1,
.aside-forum2,
.aside-forum3,
.aside-forum4,
.aside-forum5,
.aside-forum6 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  padding: 8px 10px;
  border-radius: 10px;
  border: 0.5px solid #999;
  margin-bottom: 15px;
}
.aside-forum1-person,
.aside-forum2-person,
.aside-forum3-person,
.aside-forum4-person,
.aside-forum5-person,
.aside-forum6-person {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aside-forum1-person-area,
.aside-forum2-person-area,
.aside-forum3-person-area,
.aside-forum4-person-area,
.aside-forum5-person-area,
.aside-forum6-person-area {
  width: 50px;
    height: 50px;
    border: 1px solid #999;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aside-forum1-desc,
.aside-forum2-desc,
.aside-forum3-desc,
.aside-forum4-desc,
.aside-forum5-desc,
.aside-forum6-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.aside-forum1-desc-title h3,
.aside-forum2-desc-title h3,
.aside-forum3-desc-title h3,
.aside-forum4-desc-title h3,
.aside-forum5-desc-title h3,
.aside-forum6-desc-title h3 {
  font-size: 16px;
  color: var(--black-light);
}
.aside-forum1-desc-res,
.aside-forum2-desc-res,
.aside-forum3-desc-res,
.aside-forum4-desc-res,
.aside-forum5-desc-res,
.aside-forum6-desc-res {
  font-size: 12px;
  color: var(--black-light);
}
.aside-forum1-desc-qt-comments,
.aside-forum2-desc-qt-comments,
.aside-forum3-desc-qt-comments,
.aside-forum4-desc-qt-comments,
.aside-forum5-desc-qt-comments,
.aside-forum6-desc-qt-comments {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 7px;
}
.aside-forum1-desc-qt-comments img,
.aside-forum2-desc-qt-comments img,
.aside-forum3-desc-qt-comments img,
.aside-forum4-desc-qt-comments img,
.aside-forum5-desc-qt-comments img,
.aside-forum6-desc-qt-comments img {
  width: 20px;
  margin-right: 5px;
}
.aside-forum1-desc-qt-comments p,
.aside-forum2-desc-qt-comments p,
.aside-forum3-desc-qt-comments p,
.aside-forum4-desc-qt-comments p,
.aside-forum5-desc-qt-comments p,
.aside-forum6-desc-qt-comments p {
  color: var(--orange-black);
  font-weight: 600;
  margin-right: 10px;
}

.news-week {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.news-week-titlemain {
  font-size: 24px;
  background-color: var(--orange-black);
  width: fit-content;
  border-radius: 7px;
  padding: 5px 10px;
  font-weight: 500;
  margin: 20px;
  color: #fff;
}
.news-week-1,
.news-week-2,
.news-week-3,
.news-week-4,
.news-week-5,
.news-week-6,
.news-week-7 {
  display: flex;
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid #999;
  cursor: pointer;
  margin-bottom: 20px;
}
.news-week-1 a,
.news-week-2 a,
.news-week-3 a,
.news-week-4 a,
.news-week-5 a,
.news-week-6 a,
.news-week-7 a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-week-1-img,
.news-week-2-img,
.news-week-3-img,
.news-week-4-img,
.news-week-5-img,
.news-week-6-img,
.news-week-7-img {
  width: 35%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-week-1-img img,
.news-week-2-img img,
.news-week-3-img img,
.news-week-4-img img,
.news-week-5-img img,
.news-week-6-img img,
.news-week-7-img img {
  width: 100%;
  height: inherit;
}
.news-week-1-desc,
.news-week-2-desc,
.news-week-3-desc,
.news-week-4-desc,
.news-week-5-desc,
.news-week-6-desc,
.news-week-7-desc {
  width: 75%;
  padding: 10px 15px;
}
.news-week-1-title h3,
.news-week-2-title h3,
.news-week-3-title h3,
.news-week-4-title h3,
.news-week-5-title h3,
.news-week-6-title h3,
.news-week-7-title h3 {
  font-size: 20px;
  color: var(--black-light);
}
.news-week-1-p-more,
.news-week-2-p-more,
.news-week-3-p-more,
.news-week-4-p-more,
.news-week-5-p-more,
.news-week-6-p-more,
.news-week-7-p-more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.news-week-1-p,
.news-week-2-p,
.news-week-3-p,
.news-week-4-p,
.news-week-5-p,
.news-week-6-p,
.news-week-7-p {
  display: flex;
  color: var(--orange-black);
  font-weight: 600;
}
.news-week-1-p-comment,
.news-week-2-p-comment,
.news-week-3-p-comment,
.news-week-4-p-comment,
.news-week-5-p-comment,
.news-week-6-p-comment,
.news-week-7-p-comment {
  display: flex;
  margin-left: 12px;
}
.news-week-1-p-comment img,
.news-week-2-p-comment img,
.news-week-3-p-comment img,
.news-week-4-p-comment img,
.news-week-5-p-comment img,
.news-week-6-p-comment img,
.news-week-7-p-comment img {
  width: 25px;
  margin-right: 5px;
}
.news-week-1-p-comment p,
.news-week-2-p-comment p,
.news-week-3-p-comment p,
.news-week-4-p-comment p,
.news-week-5-p-comment p,
.news-week-6-p-comment p,
.news-week-7-p-comment p {
  color: var(--black-light);
  font-weight: 600;
}
.news-week-1-more,
.news-week-2-more,
.news-week-3-more,
.news-week-4-more,
.news-week-5-more,
.news-week-6-more,
.news-week-7-more {
  margin-right: 25px;
  color: var(--orange-black);
  font-weight: 600;
}
footer {
  background-color: var(--black-light);
  padding: 25px 0px;
  color: #fff;
  margin-top: 20px;
}
footer .header-logo p {
  color: #fff;
}
.footer-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-area-desc {
  width: 25%;
}
.footer-area-desc span {
  color: var(--orange-black);
  font-weight: 600;
}
.footer-area-desc p {
  font-size: 15px;
  margin-top: 10px;
  line-height: 15px;
}
.modal-login-home,
.modal-login-home2 {
  transition: all ease .5s;
  display: none;
}
.modal-login-home-content,
.modal-login-home-content2 {
  position: fixed;
  top: 20%;
  left: 33%;
  z-index: 10;
  width: 30%;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #999;
  display: flex;
  margin: 20px 0px;
  flex-direction: column;
  padding: 10px 15px;
}
.modal-login-home-content-close,
.modal-login-home-content-close2 {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.65);
  display: flex;
  transition: all ease .5s;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
.modal-login-home-close,
.modal-login-home-close2 {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  cursor: pointer;
}
.modal-login-home-content h3,
.modal-login-home-content2 h3 {
  text-align: center;
}
.modal-login-home-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.modal-login-home-inputs .email,
.modal-login-home-inputs .password,
.modal-login-home-inputs .nameInput,
.modal-login-home-inputs .p2assword,
.textDenounce {
  width: 85%;
  padding: 8px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #999;
  margin-bottom: 10px;
}
.modal-login-home-inputs .password,
.modal-login-home-inputs .p2assword,
.modal-login-home-inputs .nameInput,
.modal-login-home-inputs-p-p,
.modal-login-home-inputs-p-n,
.modal-login-home-inputs-p,
.modal-login-home-inputs-p-p2 {
  display: none;
}
.modal-login-home-inputs-p,
.modal-login-home-inputs-p-p,
.modal-login-home-inputs-p-p2,
.modal-login-home-inputs-p-n {
  width: 85%;
  font-size: 13px;
  font-weight: 500;
}
.modal-login-home-buttons,
.modal-login-home-buttons-google {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}
.buttonLogin,
.buttonEmail,
.buttonLoginEmail,
.buttonDenounce,
.buttonEdit,
.buttonDelete {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 80%;
  background-color: var(--orange-black);
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  border: none;
}
.buttonLogin,
.buttonLoginEmail,
.buttonEdit,
.buttonDelete {
  display: none;
}
.modal-news-comment {
  border: 1px solid #999;
  border-radius: 15px;
  padding: 20px 10px;
  width: 80%;
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
  background-color: antiquewhite;
}
.modal-login-home-g {
  margin-top: 15px;
  align-items: center;
  justify-content: center;
}
.modal-login-home-g p {
  text-align: center;
  margin-top: 15px;
}
.modal-login-home-buttons-google {
  margin-top: 10px;
  margin-bottom: 20px;
}
.modal-login-home-buttons-google  a {
  box-shadow: 0px 0px 15px #999;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
}
.notice-email,
.notice-password,
.notice-name,
.notice-password2 {
  color: red;
  font-weight: 500;
  margin-top: -10px;
  font-size: 12px;
  margin-bottom: 10px;
}