main {
  padding-top: 35px;
  padding-bottom: 35px;
}
.news-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.news-details-subtitle p {
  width: fit-content;
  padding: 6px;
  font-weight: 500;
  color: #FFF;
  background-color: var(--orange-black);
}
.news-details h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 42px;
  font-weight: 900;
  color: var(--black-light);
  letter-spacing: 1px;
  padding: 15px 12px;
  background-color: #fff;
  border-radius: 17px;
  margin-top: 15px;
  text-align: center;
}
.news-details-img-video {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
.news-details-img-video img {
  width: 55%;
  border-radius: 10px;
}
.news-details-desc-aside {
  display: flex;
}
.news-details-content-comment-desc {
  width: 60%;
  padding: 15px 30px;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #E9EAED;
  color: var(--black-light);
}
.news-details-comment-desc p {
  background-color: #FFEAB9;
  color: var(--black-light);
  font-weight: 600;
  border-radius: 15px;
  padding: 15px 20px;
  margin-bottom: 30px;
}
.news-details-comments {
  width: 60%;
  border: 1px solid #999;
  border-radius: 15px;
  margin: 15px 20px;
  background-color: #fff;
}
.news-details-comments-qt {
  display: flex;
  align-items: center;
  height: 65px;
  border-bottom: 1px solid #999;
  padding: 10px 20px;
}
.news-details-comments-qt p {
  width: fit-content;
  margin-right: 8px;
  font-size: 20px;
}
.news-details-comments-qt img {
  width: 25px;
}
.area-comments-new,
.area-comments-reply-new {
  border-bottom: 1px solid #999;
  display: flex;
  padding: 25px 20px;
  align-items: center;
}
.area-comments-reply-new-none {
  display: none;
}
.area-comments-person-img {
  width: 50px;
    height: 50px;
    border: 1px solid #48BC6A;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.area-comments-person-img img {
  width: 90%;
  border-radius: 50%;
}
.area-comments-person-img a {
  display:flex;
}
.area-comments-content,
.area-comments-content-resp {
  display: flex;
  width: 85%;
  height: 50px;
  align-items: center;
}
.area-comments-content input,
.area-comments-content-resp input {
  border: 1px solid #999;
  outline: none;
  border-radius: 15px;
  width: 100%;
  padding: 0px 15px;
  height: 100%;
}
.area-comments-content img,
.area-comments-content-resp img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: 5px;
}
.news-details-comments-pg {
  display: flex;
  padding: 25px 20px;
  align-items: center;
  display: none;
}
.initial-pg,
.final-pg {
  margin: 5px;
  color:#999;
}
.pg-prev,
.pg-next {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color:#999;
}
.pg-current {
  margin: 10px;
  font-weight: 600;
  display: flex;
}
.pg-current p {
  margin-left: 5px;
}
.pg-prev img {
  rotate: 90deg;
  margin: 5px;
  width: 15px;
}
.pg-next img {
  rotate: -90deg;
  margin: 5px;
  width: 15px;
}
.area-comments-users {
  padding: 35px 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.area-comments-user,
.area-comments-user-response {
  display: flex;
  width: 100%;
  margin-bottom: 25px;
}
.area-comments-user-content {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.area-comments-user-content-info {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  background-color: #e7e7e7;
  padding: 10px 15px;
  border-radius: 15px;
  margin-bottom: 5px;
}
.area-comments-user-name-complaint {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.area-comments-user-comment p,
.area-comments-user-response-content p {
  font-size: 15px;
  
}
.area-comments-user-name h3,
.area-comments-user-name-complaint h3 {
  font-size: 17px;
  margin-right: 10px;
}
.area-comments-user-name h3 a,
.area-comments-user-name-complaint h3 a {
  color: #333;
}
.area-comments-user-name {
  display: flex;
  align-items: center;
}
.area-comments-user-name-date {
  font-size: 12px;
}
.area-comments-user-like-dislike-resp {
  display: flex;
  width: 50%;
}
.area-comments-user-like,
.area-comments-user-like-resp {
  display: flex;
  align-items: center;
  /* width: 15%;
  margin-right: 5px; */
}
.area-comments-user-dislike {
  display: none;
}
.area-comments-user-like-qt,
.area-comments-user-dislike-qt {
  margin-right: 15px;
  font-weight: 600;
}

.area-comments-user-like svg,
.area-comments-user-like-resp svg,
.area-comments-user-dislike svg {
  min-width: 30%;
  margin-right: 5px;
  width: 20px;
  cursor: pointer;
}
.area-comments-user-resp {
  display: flex;
  cursor: pointer;
}
.area-comments-user-resp img {
  margin-right: 6px;
}
.area-comments-user-resp p {
  font-weight: 600;
}
.area-comment-user-desc {
  background-color: #E9EAED;
  background-color: #c9cacf;
  padding: 10px 15px;
  border-radius: 15px;
  margin-bottom: 5px;
}
.area-comments-complaint {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: flex-start;
}
.area-comments-complaint-options {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: #999;
}
.area-comments-complaint-options p {
  padding: 5px 10px;
}
.area-comments-complaint-none {
  display: none;
}
.news-details-share {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #999;
  border-radius: 15px;
  margin: 15px 20px;
}
.news-details-share p {
  margin-right: 20px;
}
.news-details-share-area-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 50px;
}
.dlt_comment {
  display: none;
}
.news-details-share a {
  width: 100%;
  margin-right: 5%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-details-share img {
  width: 100%;
}
.redefinir {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.redefinir h1 {
  margin: 30px 0px;
}
.area-redefinir {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border: 1px solid #CCC;
  border-radius: 15px;
  background-color: #fff;
}
.area-redefinir p {
  font-size: 14px;
}
.redefinirPass {
  margin-top: 15px;
}
@media( min-width: 1400px ) {
  .area-comment-content {
    width: 70%;
  }
  .modal-login-home-content, .modal-login-home-content2 {
    padding: 35px;
  }
}
@media (min-width: 777px) {
  .news-details-content-comment-desc .news-details-comments {
    width: 93%;
  }
}
@media( max-width: 992px ) {
  .main-news-title h1 {
    font-size: 44px;
  }
  .news-week-1-title-aside-perfil h3 {
    font-size: 14px;
  }
  .news-week-1-p-more-aside-perfil {
    font-size: 10px;
  }
  .news-week-1-p-aside-perfil {
    align-items: center;
  }
  .aside-title {
    font-size: 12px;
    text-align: center;
  }
  .aside-forum1-desc-title h3,
  .news-details-share p,
  .aside-forum1-desc-qt-comments p,
  .area-topics-last-responde p,
  .news-week-1-more {
    font-size: 12px;
  }
  .opine {
    display: none;
  }
  .news-week-1-p-aside p {
    font-weight: 600;
    margin-right: 0px;
  }
  .news-week-1-more {
    margin-right: 10px;
  }
  .aside-forum1-desc-res p {
    font-size: 9px;
  }
  .news-week-1-title-aside h3 {
    font-size: 14px;
  }
}

@media( max-width: 965px ) {
  .news-week-1-aside {
    padding: 10px 10px;
    align-items: center;
  }
  .news-details-share p {
    font-size: 10px;
  }
  .area-perfil-comments {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .area-perfil {
    width: 50%;
  }
  .area-comments {
    align-items: center;
  }
  .area-comment-content {
    width: 90%;
  }
  .news-week-1-aside-area-news {
    align-items: center;
  }
  .news-week-1-p-more-aside-perfil {
    font-size: 12px;
  }
  .aside-forum1-desc-title h3 {
    font-size: 14px;
  }
  .aside-forum1-desc-res p {
    font-size: 10px;
  }
  .modal-login-home-content, .modal-login-home-content2 {
    width: 45%;
  }
}
@media( max-width: 800px ) {
  .main-news-title h1 {
    font-size: 40px;
  }
  .main-news-p {
    font-size: 12px;
  }
  .aside-forum1-desc-res p {
    font-size: 8px;
  }
  .aside-forum1-desc a {
    padding: 0px 0px 0px 15px;
  }
  .aside-forum1-desc-qt-comments p {
    font-size: 10px;
  }
  .news-week-1-title h3 {
    font-size: 16px;
  }
  .area-topics-last-responde p {
    font-size: 8px;
  }
  .news-week-1-title-aside h3,
  .news-week-1-aside-comment-user {
    font-size: 12px;
  }
  .news-week-1-more {
    margin-right: 0px;
  }
  .news-week-1-p-more-aside-perfil {
    font-size: 10px;
  }
}
@media( max-width: 778px ) {
  main .main-news {
    display: grid;
    grid-template-areas: 
    "area2"
    "area1";
    background-color: #fff;
    padding: 10px 20px;
    border: 1.5px solid #E9EAED;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  main .main-news-area1 {
    grid-area: area1;
    width: 100%;
    margin-bottom: 20px;
  }
  main .main-news-area2 {
    grid-area: area2;
    width: 100%;
    margin-top: 20px;
  }
  main .main-news-area2 a {
    width: 70%;
  }
  .area-sections-aside {
    flex-direction: column;
    align-items: center;
  }
  
  .area-sections {
    width: 100%;
  }
  .news-week-1-more {
    font-size: 16px;
  }
  .news-week-1-p-comment p {
    margin-left: 10px;
  }
  aside {
    width: 90%;
  }
  .aside-title {
    font-size: 16px;
  }
  .aside-forum1-desc-title h3 {
    font-size: 15px;
  }
  .aside-forum1-desc-res p {
    font-size: 10px;
  }
  .aside-forum1-desc-qt-comments p {
    font-size: 14px;
  }
  .area-forum-title h1 {
    font-size: 42px;
  }
  .area-forum-title-button button {
    font-size: 16px;
  }
  .area-forum-topics {
    flex-direction: column;
    align-items: center;
  }
  .area-topics-users {
    width: 95%;
  }
  .area-topics-last-responde p {
    font-size: 12px;
  }
  .area-topics-last-responde-qt-comments p {
    font-size: 14px;
  }
  .news-week-1-title-aside h3 {
    font-size: 16px;
  }
  .aside-forum1,
  .news-week-1-aside {
    margin-bottom: 20px;
  }
  .news-details-comments {
    width: 90%;
  }
  .news-details-desc-aside {
    flex-direction: column;
    align-items: center;
  }
  .news-details-content-comment-desc {
    width: 100%;
    margin-bottom: 30px;
  }
  .modal-login-home-content, .modal-login-home-content2 {
    width: 50%;
    left: 27%;
  }
}
@media (max-width: 700px) {
  header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 999;
  }
  main {
    margin-top: 80px;
  }
  .header-icons-menu .menu {
    display: none;
  }
  .menu-mobile {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1.5px solid #E9EAED;
    height: 70px;
  }
   .header-icons-menu nav li {
    margin: 0px;
  }
  .menu-mobile .area-home, .menu-mobile .area-forum {
    font-size: 12px;
  }
  .menu-mobile .area-home svg, .menu-mobile .area-forum svg {
    width: 65%;
    margin-right: 0px;
    margin-bottom: 0px; 
}
  .header-content {
    display: flex;
    align-items: center;
  }
  .header-content-desc {
    width: 100%;
  }
  .header-logo img {
    width: 60px;
  }
  .header-logo p {
    font-size:16px;
  }
  footer {
    margin-bottom: 65px;
    margin-top: 0px;
  }
  .area-comment-content {
    width: 100%;
    margin-bottom: 60px;
  }
  .news-week-1-title-aside-perfil h3 {
    font-size: 13px;
  }
}
@media (max-width: 620px) {
  .modal-login-home-content, .modal-login-home-content2 {
    width: 60%;
    left: 22%;
  }
  aside {
    width: 95%;
  }
  .news-details h1 {
    font-size: 34px;
  }
  .area-comments-user-name h3, .area-comments-user-name-complaint h3 {
    font-size: 15px;
  }
  .area-comments-user-name-date {
    font-size: 10px;
  }
  .area-comments-user-comment p, .area-comments-user-response-content p {
    font-size: 13px;
  }
  .area-comments-user-resp {
    align-items: center;
  }
  .area-comments-user-resp p {
    font-size: 14px;
  }
  .area-comments-user-like-dislike-resp {
    margin-left: 5px;
  }
  .news-details-img-video {
    width: auto;
  }
  .news-details-img-video img {
    width: 80%;
  }
  .footer-area-desc {
    font-size: 12px;
  }
}
@media( max-width: 589px) {
  .area-forum-title h1 {
    font-size: 36px;
  }
  .area-forum-title p {
    width: 90%;
    font-size: 14px;
  }
  .area-topics-last-responde p {
    font-size: 10px;
  }
  .area-topics-last-responde-qt-comments p {
    font-size: 12px;
  }
  .news-week-1-title-aside h3 {
    font-size: 14px;
  }
  .news-week-1-more {
    font-size: 12px;
  }
  .news-details-share {
    width: 85%;
  }
}
@media( max-width: 550px) {
  .main-news-title h1 {
    font-size: 34px;
  }
  .news-details h1 {
    font-size: 30px;
  }
  .news-details-content-comment-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .news-details-comments {
    width: 95%;
    margin: 0px;
    margin-bottom: 30px;
  }
  .aside-content {
    margin: 0px;
  }
  .area-comments {
    width: 95%;
    padding: 0;
  }
  .area-comments h2 {
    font-size: 20px;
  }
  .slider--item-title-1 h2 {
    font-size: 18px;
  }
  main .main-news-area2 a {
    width: 80%;
  }
  .modal-login-home h3 {
    font-size: 14px;
  }
}
@media( max-width: 500px) {
  .area-forum-area-buttons .btn-forum,
  .area-forum-area-buttons .btn-newforum {
    font-size: 14px;
    padding: 5px 10px;
  }
  .news-details-share {
    width: 95%;
  }
  .news-details-share-area-img {
    width: 25%;
  }
  .aside-title {
    font-size: 14px;
  }
  .aside-forum1-desc-qt-comments p {
    font-size: 12px;
  }
  .slider {
    height: 320px;
  }
  .area-forum-filters {
    align-items: center;
    justify-content: center;
  }
  .area-filters-recents, .area-filters-populary {
    font-size: 12px;
  }
  .area-topics-users {
    width: 100%;
  }
  .area-topics-title h3 {
    font-size: 14px;
  }
  .area-topics-last-responde {
    flex-direction: column;
    margin: 0;
  }
  .area-topics-last-responde-qt-comments {
    margin-top: 10px;
    justify-content: flex-start;
  }
  .area-perfil {
    width: 75%;
  } 
}
@media( max-width: 450px) {
  .footer-area-desc {
    font-size: 10px;
  }
  .news-week-1-img {
    width: 185px;
    height: 115px;
  }
  .news-week-1-p-comment p {
    margin-left: 0px; 
  } 
  .main-news-subtitle {
    margin: 10px 0px 0px 0px;
  }
  .main-news-subtitle p {
    font-size: 12px;
  }
  .main-news-title h1 {
    font-size: 30px;
    padding: 15px 0px 0px 0px;
  }
  .main-news-p {
    letter-spacing: 1px;
  }
  .main-news-comment {
    font-size: 14px;
  }
  .main-news-comment img {
    margin-right: 5px;
    width: 10%;
  }
  .slider {
    height: 280px;
  }
  .news-week-1 {
    padding: 10px 15px;
  }
  .news-week-1-desc {
    width: 80%;
  }
  .news-week-1-title h3 {
    font-size: 14px;
  }
  .news-week-1-p {
    font-size: 14px;
    align-items: center;
  }
  .news-week-1-p-comment {
    align-items: center;
  }
  .news-week-1-p-more {
    margin-top: 20px;
  }
  .button-enter {
    width: 95px;
    height: 33px;
    font-size: 16px;
  }
  .modal-login-home-content, .modal-login-home-content2 {
    width: 80%;
    left: 10%;
  }
  main {
    margin-top: 75px;
  }
  .news-week-1-p-more-aside {
    margin-left: 7px;
  }
  .area-topics-user {
    padding: 5px 20px;
  }
  .news-details-content-comment-desc {
    font-size: 14px;
  }
  .news-details-comment-desc p {
    font-size: 12px;
    margin-bottom: 0px;
  }
  .news-details-comments-qt p {
    font-size: 16px;
  }
  .news-details-comments {
    width: 100%;
  }
  .area-comments-users {
    padding: 30px 15px;
  }
  .area-comments-user-name h3, .area-comments-user-name-complaint h3 {
    font-size: 13px;
  }
  .area-comments-user-name-date {
    font-size: 8px;
  }
  .area-comments-user-comment p, .area-comments-user-response-content p {
    font-size: 12px;
  }
  .area-comments-user-resp p {
    font-size: 12px;
  }
  .aside-title {
    font-size: 12px;
  }
  .news-week-1-more-perfil {
    display: none;
  }
  .aside-forum1-desc {
    margin-left: 7px;
  }
  .area-comments-person-img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }
  .buttonLogin, .buttonEmail, .buttonLoginEmail, .buttonDenounce, .buttonEdit, .buttonDelete, .buttonNewForum, .buttonForgot, .redefinirPass {
    font-size: 13px;
  }
  .area-forum-area-buttons {
    display: flex;
    flex-direction: column;
  }
  .area-forum-area-buttons .btn-forum, .area-forum-area-buttons .btn-newforum {
    width: fit-content;
    margin-bottom: 10px;
  }
  .area-forum-title h1 {
    font-size: 30px;
  }
  .news-details-share {
    flex-direction: column;
  }
  .news-details-share p {
    margin-right: 0;
    margin-top: 10px;
  }
  .news-details-share-area-img {
    width: 45%;
    height: 40px;
  }
  .aside-forum1-person-area {
    width: 40px;
    height: 40px;
  }
  .aside-forum1-desc a {
    padding:0;
  }
  .news-week-1-img-aside-perfil {
    height: 60px;
  }
  .news-week-1-title-aside-perfil h3 {
    font-size: 12px;
  }
  .aside-forum1-desc-title h3 {
    font-size: 13px;
  } 
  .aside-forum1-desc-res p {
    font-size: 9px;
  }
}
@media( max-width: 400px) {
  .header-logo p {
    font-size: 14px;
  }
  main .main-news-area2 a {
    width: 90%;
  }
  .slider {
    height: 250px;
  }
  .slider--item-subtitle-1, .slider--item-subtitle-2, .slider--item-subtitle-3 {
    font-size: 12px;
  }
  .slider--item-title-1 {
    margin-bottom: 35px;
  }
  .slider--item-title-1 h2 {
    font-size: 14px;
  }
  .news-week-1-img {
    width: 150px;
    height: 100px;
  }
  .area-topics-person-img {
    width: 40px;
    height: 40px;
    margin-right: 0;
  }
  .area-topics-last-responde p {
    font-size: 8px;
  }
  .area-forum-title-button button {
    font-size: 14px;
  }
  .news-details-subtitle p {
    font-size: 14px;
  }
  .news-details h1 {
    font-size: 26px;
  }
  .news-details-img-video img {
    width: 95%;
  }
  .area-forum-title p {
    width: 100%;
    font-size: 12px;
  }
  .footer-area-desc {
    font-size: 8px;
  }
  .area-topics-date {
    font-size: 8px;
  }
  .area-topics-title h3 {
    font-size: 12px;
  }
  .area-topics-user-content-info {
    padding: 10px 8px;
  }
  .area-topics-last-responde-qt-comments img {
    width: 20px;
    margin-right: 5px;
  }
  .news-week-1-title-aside h3 {
    font-size: 12px;
  }
  .news-details-content-comment-desc {
    padding: 15px 15px;
  }
  .area-filters-recents, .area-filters-populary {
    font-size: 10px;
  }
  .buttonLogin, .buttonEmail, .buttonLoginEmail, .buttonDenounce, .buttonEdit, .buttonDelete, .buttonNewForum, .buttonForgot, .redefinirPass {
    font-size: 11px;
  }
}
@media( max-width: 350px) {
  .header-logo img {
    width: 50px;
  }
  .header-logo p {
    font-size: 12px;
  } 
  .main-news-title h1 {
    font-size: 24px;
  }
  .slider--item-subtitle-1, .slider--item-subtitle-2, .slider--item-subtitle-3 {
    font-size: 10px;
  }
  .slider--item-title-1 h2 {
    font-size: 12px;
  }
  .news-week-titlemain {
    font-size: 18px;
  }
  .news-week-1-img {
    width: 120px;
    height: 85px;
  }
  .news-week-1-desc {
    width: 85%;
  }
  .news-week-1-title h3 {
    font-size: 12px;
  }
  .news-week-1-more {
    display: none;
  }
  .aside-forum1-desc-title h3 {
    font-size: 12px;
  }
  .area-forum-title h1 {
    font-size: 24px;
  }
  .area-forum-title-button button {
    font-size: 12px;
  }
  .area-filters-recents, .area-filters-populary {
    font-size: 9px;
  }
  .area-topics-title h3 {
    font-size: 10px;
  }
  .news-week-1-img-aside {
    width: 100px;
    height: 70px;
  }
  .news-details-subtitle p {
    font-size: 12px;
  }
  .news-details h1 {
    font-size: 20px;
  }
  .area-comments-content, .area-comments-content-resp {
    height: 35px;
  }
  .area-comments-content input, .area-comments-content-resp input {
    font-size: 10px;
  }
  .area-comments-user-name h3, .area-comments-user-name-complaint h3 {
    font-size: 10px;
  }
  .area-comments-user-name-date {
    font-size: 6px;
  }
  .area-comments-user-comment p, .area-comments-user-response-content p {
    font-size: 10px;
  }
  .area-comments-user-resp p {
    font-size: 10px;
  }
  .area-comments-user-like svg, .area-comments-user-like-resp svg, .area-comments-user-dislike svg {
    width: 17px;
  }
  .area-perfil {
    width: 100%;
  }
  .area-comments h2 {
    font-size: 16px;
  }
  .news-week-1-img-aside-perfil {
    width: 25%;
  }
  .news-week-1-title-aside-perfil h3 {
    font-size: 10px;
  }
  .aside-forum1-desc-title h3 {
    font-size: 10px;
  }
  .aside-forum1-desc-res p {
    font-size: 7px;
  } 
  .aside-forum1-desc-qt-comments p {
    font-size: 10px;
  }
  .buttonLogin, .buttonEmail, .buttonLoginEmail, .buttonDenounce, .buttonEdit, .buttonDelete, .buttonNewForum, .buttonForgot, .redefinirPass {
    font-size: 10px;
  }
}