main {
  padding-top: 35px;
  padding-bottom: 35px;
}
.news-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.news-details-subtitle p {
  width: fit-content;
  padding: 6px;
  font-weight: 500;
  color: #FFF;
  background-color: var(--orange-black);
}
.news-details h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 42px;
  font-weight: 900;
  color: var(--black-light);
  letter-spacing: 1px;
  padding: 15px 12px;
  background-color: #fff;
  border-radius: 17px;
  margin-top: 15px;
  text-align: center;
}
.news-details-img-video {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
.news-details-img-video img {
  width: 55%;
}
.news-details-desc-aside {
  display: flex;
}
.news-details-content-comment-desc {
  width: 60%;
  padding: 15px 30px;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #E9EAED;
  color: var(--black-light);
}
.news-details-comment-desc p {
  background-color: #FFEAB9;
  color: var(--black-light);
  font-weight: 600;
  border-radius: 15px;
  padding: 15px 20px;
  margin-bottom: 30px;
}
.news-details-comments {
  border: 1px solid #999;
  border-radius: 15px;
  margin: 15px 20px;
  background-color: #fff;
}
.news-details-comments-qt {
  display: flex;
  align-items: center;
  height: 65px;
  border-bottom: 1px solid #999;
  padding: 10px 20px;
}
.news-details-comments-qt p {
  width: fit-content;
  margin-right: 8px;
  font-size: 20px;
}
.news-details-comments-qt img {
  width: 25px;
}
.area-comments-new,
.area-comments-reply-new {
  border-bottom: 1px solid #999;
  display: flex;
  padding: 25px 20px;
  align-items: center;
}
.area-comments-reply-new-none {
  display: none;
}
.area-comments-person-img {
  width: 50px;
    height: 50px;
    border: 1px solid #999;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.area-comments-content,
.area-comments-content-resp {
  display: flex;
  width: 85%;
  height: 50px;
  align-items: center;
}
.area-comments-content input,
.area-comments-content-resp input {
  border: 1px solid #999;
  outline: none;
  border-radius: 15px;
  width: 100%;
  padding: 0px 15px;
  height: 100%;
}
.area-comments-content img,
.area-comments-content-resp img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: 5px;
}
.news-details-comments-pg {
  display: flex;
  padding: 25px 20px;
  align-items: center;
  display: none;
}
.initial-pg,
.final-pg {
  margin: 5px;
  color:#999;
}
.pg-prev,
.pg-next {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color:#999;
}
.pg-current {
  margin: 10px;
  font-weight: 600;
  display: flex;
}
.pg-current p {
  margin-left: 5px;
}
.pg-prev img {
  rotate: 90deg;
  margin: 5px;
  width: 15px;
}
.pg-next img {
  rotate: -90deg;
  margin: 5px;
  width: 15px;
}
.area-comments-users {
  padding: 35px 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.area-comments-user,
.area-comments-user-response {
  display: flex;
  width: 100%;
  margin-bottom: 25px;
}
.area-comments-user-content {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.area-comments-user-content-info {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  background-color: #e7e7e7;
  padding: 10px 15px;
  border-radius: 15px;
  margin-bottom: 5px;
}
.area-comments-user-name-complaint {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.area-comments-user-comment p,
.area-comments-user-response-content p {
  font-size: 15px;
  
}
.area-comments-user-name h3,
.area-comments-user-name-complaint h3 {
  font-size: 17px;
  margin-right: 10px;
}
.area-comments-user-name {
  display: flex;
  align-items: center;
}
.area-comments-user-name-date {
  font-size: 12px;
}
.area-comments-user-like-dislike-resp {
  display: flex;
  width: 50%;
}
.area-comments-user-like,
.area-comments-user-like-resp {
  display: flex;
  align-items: center;
  /* width: 15%;
  margin-right: 5px; */
}
.area-comments-user-dislike {
  display: none;
}
.area-comments-user-like-qt,
.area-comments-user-dislike-qt {
  margin-right: 15px;
  font-weight: 600;
}

.area-comments-user-like svg,
.area-comments-user-like-resp svg,
.area-comments-user-dislike svg {
  min-width: 30%;
  margin-right: 5px;
  width: 20px;
  cursor: pointer;
}
.area-comments-user-resp {
  display: flex;
  cursor: pointer;
}
.area-comments-user-resp img {
  margin-right: 6px;
}
.area-comments-user-resp p {
  font-weight: 600;
}
.area-comment-user-desc {
  background-color: #E9EAED;
  background-color: #c9cacf;
  padding: 10px 15px;
  border-radius: 15px;
  margin-bottom: 5px;
}
.area-comments-complaint {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: flex-start;
}
.area-comments-complaint-options {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: #999;
}
.area-comments-complaint-options p {
  padding: 5px 10px;
}
.area-comments-complaint-none {
  display: none;
}
.news-details-share {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #999;
  border-radius: 15px;
  margin: 15px 20px;
}
.news-details-share p {
  margin-right: 20px;
}
.news-details-share-area-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 50px;
}
.dlt_comment {
  display: none;
}
.news-details-share a {
  width: 100%;
  margin-right: 5%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-details-share img {
  width: 100%;
}