<%- include('../partials/header') %>
<main>
  <div class="container">
    <h1>Código de Conduta dos Usuários do Opinião Gospel</h1><br><br>
    <p>O Opinião Gospel é um site que oferece um fórum para a discussão de temas relacionados à fé cristã. Para manter um ambiente saudável e respeitoso, todos os usuários devem seguir as seguintes regras:</p><br><br>
    <h2>Respeito</h2><br><br>
    <p>Os usuários devem tratar os outros usuários com respeito e consideração, independentemente de suas opiniões, crenças ou origem. Comentários ofensivos, discriminatórios ou de ódio não serão tolerados.</p><br><br>
    <h2>Tolerância</h2><br><br>
    <p>O Opinião Gospel é um espaço para a discussão de ideias e opiniões diversas. Os usuários devem estar abertos a ouvir diferentes pontos de vista e respeitar a diversidade de opiniões.</p><br><br>
    <h2>Honestidade</h2><br><br>
    <p>Os usuários devem ser honestos e transparentes em suas postagens e comentários, evitando a disseminação de informações falsas ou enganosas.</p><br><br>
    <h2>Civilidade</h2><br><br>
    <p>Os usuários devem se comunicar de forma civilizada e construtiva, evitando linguagem vulgar, agressiva ou ameaçadora.</p><br><br>
    <h2>Responsabilidade</h2><br><br>
    <p>Os usuários são responsáveis por suas próprias postagens e comentários, e devem estar cientes de que suas opiniões e comentários não representam necessariamente a opinião do Opinião Gospel.</p><br><br>
    <h2>Não responsabilidade</h2><br><br>
    <p>O Opinião Gospel não é responsável pelas opiniões e comentários postados pelos usuários no fórum do site. Cada usuário é responsável por suas próprias postagens e deve ser consciente das consequências legais de suas declarações.</p><br><br>
    <h2>Moderação</h2><br><br>
    <p>O Opinião Gospel se reserva o direito de moderar as postagens e comentários dos usuários, removendo conteúdo que viole as regras deste Código de Conduta ou que seja considerado inadequado pelos moderadores do site.</p><br><br>
    <br><br>
    <p>Ao concordar com este Código de Conduta, os usuários reconhecem que estão cientes das regras e diretrizes para participação no Opinião Gospel e se comprometem a seguir as normas descritas acima.</p><br>

  </div>
</main>


<%- include('../partials/footer') %>