<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title>Opinião Gospel</title>
</head>
<body>
  <%- include('../partials/header') %>
  <main>
    <div class="main-news container">
      <div class="modal-login-home">
        <div class="modal-login-home-content">
          <div class="modal-login-home-close">
            <img src="images/close.svg" alt="Fechar modal">
          </div>
          <h3>Entre gratuitamente para o Opinião Gospel</h3>
          <div class="modal-login-home-inputs">
            <div class="modal-login-home-inputs-p">
              <p>Seu e-mail:</p>
            </div>
            <input type="text" placeholder="Seu e-mail" name="email" class="email">
            <p class="notice-email"></p>
            <div class="modal-login-home-inputs-p-n">
              <p>Seu nome:</p>
            </div>
            <input type="text" placeholder="Digite seu nome" name="name" class="nameInput">
            <p class="notice-name"></p>
            <div class="modal-login-home-inputs-p-p">
              <p>Sua senha:</p>
            </div>
            <input type="password" placeholder="Sua senha" name="password" class="password">
            <p class="notice-password"></p>
            <div class="modal-login-home-inputs-p-p2">
              <p>Confirme sua senha:</p>
            </div>
            <input type="password" placeholder="Confirme sua senha"  name="password2" class="p2assword">
            <p class="notice-password2"></p>
          </div>
          <div class="modal-login-home-buttons">
            <button class="buttonEmail">Continuar com o e-mail</button>
            <button class="buttonLogin">Continuar</button>
            <button class="buttonLoginEmail">Login</button>
          </div>
          <div class="modal-login-home-g">
            <p>Ou continue com o</p>
          </div>
          <div class="modal-login-home-buttons-google">
            <a class="buttonGoogle"><img src="images/google.svg" alt=""></a>
          </div>
        </div>
        <div class="modal-login-home-content-close"></div>
      </div>
      <div class="main-news-area1">
        <div class="main-news-subtitle"><p>Música</p></div>
        <a href=""><div class="main-news-title"><h1>Para Maurício Soares, a saída de Jessé Aguiar da música gospel foi “falta de equilíbrio emocional”</h1></div></a> 
        <a href=""><div class="main-news-p"><p>A fala de Maurício Soares sobre a decisão de Jessé Aguiar reverberou no cenário gospel.</p></div></a> 
        <a href=""> <div class="main-news-comment"><img src="images/forum.svg" alt="Faça um comentário na notícia">Comente!</div></a>
      </div>
      <div class="main-news-area2">
        <a href=""><img src="images/Mauricio-Soares-e-Jesse-Aguiar.jpg" alt="Mauricio-Soares-e-Jesse-Aguiar"></a>
      </div>
    </div>
    <div class="area-sections-aside container">
      <div class="area-sections">
        <section class="slide ">
          <div class="slider">
            <div class="slider--controls">
                <div class="slider--control" onclick="goPrev()" ><img src="images/seta-expandir.png" style="rotate: 90deg;" alt=""></div>
                <div class="slider--control" onclick="goNext()"><img src="images/seta-expandir.png" style="rotate: -90deg;" alt=""></div>
            </div>
            <div class="slider--width">
                <div class="slider--item slide-one" >
                  <a href="">
                    <div class="slider--item-content-1">
                      <div class="slider--item-subtitle-1">Destaque</div>
                      <div class="slider--item-title-1">
                        <h2>Polêmico, Jessé Aguiar anuncia que não pertence mais “ao 
                          mercado gospel”</h2>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="slider--item slide-two" >
                  <a href="">
                  <div class="slider--item-content-2">
                    <div class="slider--item-subtitle-2">Destaque</div>
                    <div class="slider--item-title-2">
                      <h2>Polêmico, Jessé Aguiar anuncia que não pertence mais “ao 
                        mercado gospel”</h2>
                    </div>
                  </div>
                </a>
                </div>
                <div class="slider--item slide-three" >
                  <a href="">
                    <div class="slider--item-content-3">
                        <div class="slider--item-subtitle-3">Destaque</div>
                        <div class="slider--item-title-3">
                          <h2>Polêmico, Jessé Aguiar anuncia que não pertence mais “ao 
                            mercado gospel”</h2>
                        </div>
                    </div>
                  </a>
                </div>
            </div>
          </div>
        </section>
        <section class="news-week">
          <div class="news-week-titlemain">
            Mais Notícias
          </div>
          <div class="news-week-content">
            <div class="news-week-1">
              <a href="">
                <div class="news-week-1-img">
                  <img src="images/Imagem21-570x300 1.png" alt="">
                </div>
                <div class="news-week-1-desc">
                  <div class="news-week-1-title">
                    <h3>Bruxas reagem à cruzada evangelística na Nicarágua, 
                      mas são derrotadas pelas orações</h3>
                  </div>
                  <div class="news-week-1-p-more">
                    <div class="news-week-1-p">
                      <p>Opine</p>
                      <div class="news-week-1-p-comment">
                        <img src="images/forum.svg" alt="">
                        <p>15</p>
                      </div>
                    </div>
                    <div class="news-week-1-more">
                      Saiba mais
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="news-week-2">
              <a href="">
                <div class="news-week-2-img">
                  <img src="images/Imagem21-570x300 1.png" alt="">
                </div>
                <div class="news-week-2-desc">
                  <div class="news-week-2-title">
                    <h3>Bruxas reagem à cruzada evangelística na Nicarágua, 
                      mas são derrotadas pelas orações</h3>
                  </div>
                  <div class="news-week-2-p-more">
                    <div class="news-week-2-p">
                      <p>Opine</p>
                      <div class="news-week-2-p-comment">
                        <img src="images/forum.svg" alt="">
                        <p>15</p>
                      </div>
                    </div>
                    <div class="news-week-2-more">
                      Saiba mais
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="news-week-3">
              <a href="">
                <div class="news-week-3-img">
                  <img src="images/Imagem21-570x300 1.png" alt="">
                </div>
                <div class="news-week-3-desc">
                  <div class="news-week-3-title">
                    <h3>Bruxas reagem à cruzada evangelística na Nicarágua, 
                      mas são derrotadas pelas orações</h3>
                  </div>
                  <div class="news-week-3-p-more">
                    <div class="news-week-3-p">
                      <p>Opine</p>
                      <div class="news-week-3-p-comment">
                        <img src="images/forum.svg" alt="">
                        <p>15</p>
                      </div>
                    </div>
                    <div class="news-week-3-more">
                      Saiba mais
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="news-week-4">
              <a href="">
                <div class="news-week-4-img">
                  <img src="images/Imagem21-570x300 1.png" alt="">
                </div>
                <div class="news-week-4-desc">
                  <div class="news-week-4-title">
                    <h3>Bruxas reagem à cruzada evangelística na Nicarágua, 
                      mas são derrotadas pelas orações</h3>
                  </div>
                  <div class="news-week-4-p-more">
                    <div class="news-week-4-p">
                      <p>Opine</p>
                      <div class="news-week-4-p-comment">
                        <img src="images/forum.svg" alt="">
                        <p>15</p>
                      </div>
                    </div>
                    <div class="news-week-4-more">
                      Saiba mais
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="news-week-5">
              <a href="">
                <div class="news-week-5-img">
                  <img src="images/Imagem21-570x300 1.png" alt="">
                </div>
                <div class="news-week-5-desc">
                  <div class="news-week-5-title">
                    <h3>Bruxas reagem à cruzada evangelística na Nicarágua, 
                      mas são derrotadas pelas orações</h3>
                  </div>
                  <div class="news-week-5-p-more">
                    <div class="news-week-5-p">
                      <p>Opine</p>
                      <div class="news-week-5-p-comment">
                        <img src="images/forum.svg" alt="">
                        <p>15</p>
                      </div>
                    </div>
                    <div class="news-week-5-more">
                      Saiba mais
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="news-week-6">
              <a href="">
                <div class="news-week-6-img">
                  <img src="images/Imagem21-570x300 1.png" alt="">
                </div>
                <div class="news-week-6-desc">
                  <div class="news-week-6-title">
                    <h3>Bruxas reagem à cruzada evangelística na Nicarágua, 
                      mas são derrotadas pelas orações</h3>
                  </div>
                  <div class="news-week-6-p-more">
                    <div class="news-week-6-p">
                      <p>Opine</p>
                      <div class="news-week-6-p-comment">
                        <img src="images/forum.svg" alt="">
                        <p>15</p>
                      </div>
                    </div>
                    <div class="news-week-6-more">
                      Saiba mais
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="news-week-7">
              <a href="">
                <div class="news-week-7-img">
                  <img src="images/Imagem21-570x300 1.png" alt="">
                </div>
                <div class="news-week-7-desc">
                  <div class="news-week-7-title">
                    <h3>Bruxas reagem à cruzada evangelística na Nicarágua, 
                      mas são derrotadas pelas orações</h3>
                  </div>
                  <div class="news-week-7-p-more">
                    <div class="news-week-7-p">
                      <p>Opine</p>
                      <div class="news-week-7-p-comment">
                        <img src="images/forum.svg" alt="">
                        <p>15</p>
                      </div>
                    </div>
                    <div class="news-week-7-more">
                      Saiba mais
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </section>
      </div>
      <aside> 
        <div class="aside-content">
          <div class="aside-title">
            <h3>As mais comentadas da semana no Fórum</h3>
          </div>
          <div class="aside-forum">
            <div class="aside-forum1">
              <div class="aside-forum1-person">
                <a href="">
                  <div class="aside-forum1-person-area">
                    <img src="images/persona.png" alt="">
                  </div>
                </a>
              </div>
              <div class="aside-forum1-desc">
                <a href="">
                <div class="aside-forum1-desc-title">
                  <h3>Porque a igreja Congregacão Cristã se considera  a unica escolhida?</h3>
                </div>
                <div class="aside-forum1-desc-res">
                  <p>Última resposta: Fulano de tal há 1 dia</p>
                </div>
                <div class="aside-forum1-desc-qt-comments">
                  <img src="images/forum.svg" alt="">
                  <p>10 Comentários</p>
                </div>
                </a>
              </div>
  
            </div>
            <div class="aside-forum2">
              <div class="aside-forum2-person">
                <a href="">
                  <div class="aside-forum2-person-area">
                    <img src="images/persona.png" alt="">
                  </div>
                </a>
              </div>
              <div class="aside-forum2-desc">
                <a href="">
                  <div class="aside-forum2-desc-title">
                    <h3>Porque a igreja Congregacão Cristã se considera  a unica escolhida?</h3>
                  </div>
                  <div class="aside-forum2-desc-res">
                    <p>Última resposta: Fulano de tal há 1 dia</p>
                  </div>
                  <div class="aside-forum2-desc-qt-comments">
                    <img src="images/forum.svg" alt="">
                    <p>10 Comentários</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="aside-forum3">
              <div class="aside-forum3-person">
                <a href="">
                  <div class="aside-forum3-person-area">
                    <img src="images/persona.png" alt="">
                  </div>
                </a>
              </div>
              <div class="aside-forum3-desc">
                <a href="">
                  <div class="aside-forum3-desc-title">
                    <h3>Porque a igreja Congregacão Cristã se considera  a unica escolhida?</h3>
                  </div>
                  <div class="aside-forum3-desc-res">
                    <p>Última resposta: Fulano de tal há 1 dia</p>
                  </div>
                  <div class="aside-forum3-desc-qt-comments">
                    <img src="images/forum.svg" alt="">
                    <p>10 Comentários</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="aside-forum4">
              <div class="aside-forum4-person">
                <a href="">
                  <div class="aside-forum4-person-area">
                    <img src="images/persona.png" alt="">
                  </div>
                </a>
              </div>
              <div class="aside-forum4-desc">
                <a href="">
                  <div class="aside-forum4-desc-title">
                    <h3>Porque a igreja Congregacão Cristã se considera  a unica escolhida?</h3>
                  </div>
                  <div class="aside-forum4-desc-res">
                    <p>Última resposta: Fulano de tal há 1 dia</p>
                  </div>
                  <div class="aside-forum4-desc-qt-comments">
                    <img src="images/forum.svg" alt="">
                    <p>10 Comentários</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="aside-forum5">
              <div class="aside-forum5-person">
                <a href="">
                  <div class="aside-forum5-person-area">
                    <img src="images/persona.png" alt="">
                  </div>
                </a>
              </div>
              <div class="aside-forum5-desc">
                <a href="">
                  <div class="aside-forum5-desc-title">
                    <h3>Porque a igreja Congregacão Cristã se considera  a unica escolhida?</h3>
                  </div>
                  <div class="aside-forum5-desc-res">
                    <p>Última resposta: Fulano de tal há 1 dia</p>
                  </div>
                  <div class="aside-forum5-desc-qt-comments">
                    <img src="images/forum.svg" alt="">
                    <p>10 Comentários</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </main>
  <%- include('../partials/footer') %>
<script src="js/script.js"></script>
<script src="js/slide.js"></script>
</body>
</html>