<%- include('../partials/header') %>
<main>
  <div class="container">
    <h1>Política de Privacidade do Opinião Gospel</h1><br><br>
    <p>O Opinião Gospel valoriza a privacidade e a proteção dos dados pessoais dos seus usuários e se compromete a adotar medidas técnicas e organizacionais para garantir a segurança e confidencialidade dos dados coletados. Esta política de privacidade tem o objetivo de informar como o Opinião Gospel coleta, armazena, utiliza e protege os dados pessoais dos usuários.</p><br><br>
    <h2>Coleta de dados pessoais</h2><br><br>
    <p>O Opinião Gospel coleta apenas os dados pessoais necessários para a prestação dos serviços oferecidos pelo site, que incluem nome, e-mail e foto de perfil. Esses dados são fornecidos voluntariamente pelos usuários no momento do cadastro no site.</p><br><br>
    <h2>Uso dos dados pessoais</h2><br><br>
    <p>O Opinião Gospel utiliza os dados pessoais coletados para fornecer os serviços oferecidos pelo site, incluindo a identificação dos usuários nas suas interações no site, como postagens e comentários. Os dados pessoais também podem ser utilizados para comunicação com os usuários, incluindo o envio de informações e atualizações sobre o site. O Opinião Gospel não compartilha ou vende os dados pessoais dos usuários com terceiros, exceto em casos em que a lei exige ou permite.</p><br><br>
    <h2>Armazenamento dos dados pessoais</h2><br><br>
    <p>Os dados pessoais dos usuários são armazenados em servidores seguros e protegidos pelo Opinião Gospel. Os dados são armazenados pelo período necessário para a prestação dos serviços oferecidos pelo site e podem ser excluídos a pedido do usuário.</p><br><br>
    <h2>Segurança dos dados pessoais</h2><br><br>
    <p>O Opinião Gospel adota medidas técnicas e organizacionais para proteger os dados pessoais dos usuários contra acesso não autorizado, alteração, divulgação ou destruição. Essas medidas incluem criptografia, controle de acesso aos dados e backups regulares.</p><br><br>
    <h2>Direitos dos usuários</h2><br><br>
    <p>Os usuários têm direito a acessar, retificar e excluir seus dados pessoais armazenados pelo Opinião Gospel. Os usuários também podem solicitar a limitação do processamento de seus dados pessoais e o direito de portabilidade dos dados. O Opinião Gospel se compromete a atender a essas solicitações dentro dos prazos legais aplicáveis.</p><br><br>
    <h2>Alterações na política de privacidade</h2><br><br>
    <p>O Opinião Gospel reserva-se o direito de alterar esta política de privacidade a qualquer momento, mediante aviso prévio aos usuários por meio do site. Os usuários serão informados sobre as alterações e deverão concordar com a nova política de privacidade para continuar utilizando o site.</p><br><br>
    <h2>Contato</h2><br><br>
    <p>Caso tenha alguma dúvida sobre esta política de privacidade ou sobre o processamento de seus dados pessoais pelo Opinião Gospel, entre em contato conosco pelo e-mail opniaogospel@gmail.com</p><br><br>
    <br><br>
    <p>Ao concordar com esta Política de Privacidade, os usuários reconhecem que estão cientes das regras e diretrizes para participação no Opinião Gospel e se comprometem a seguir as normas descritas acima.</p><br>

  </div>
</main>


<%- include('../partials/footer') %>