<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/stylepage.css">
  <link rel="stylesheet" href="css/styleforum.css">
  <link rel="stylesheet" href="css/stylelogin.css">
  <title>Opinião Gospel</title>
</head>
<body>
  <%- include('../partials/header') %>
  <main>
    <div class="area-post container">
      <form method="POST" enctype="multipart/form-data" action="http://localhost:4000/post/e5765c426d9d292a3fd76afe009beaf2">
        <label>Titulo:<input type="text" name="title"><br><br></label>
        <label>Id:<input type="text" name="userADMId" class="id-post"><br><br></label>
        <label>Imagem:<input type="file"  accept='image/*' capture name="img" class="img-form"><br><br></label>
        <label>Link Video:<input type="text"  name="video"><br><br></label>
        <label>Conteudo parafrago incentivando aos comentários:<input type="text"  name="contentPreComment"><br><br></label>
        <label>Conteudo do 1 paragrafo: <input type="text"  name="contentP1"></textarea><br><br></label>
        <label>Conteudo do 2 paragrafo: <input type="text"  name="contentP2"></textarea><br><br></label>
        <label>Conteudo do 3 paragrafo: <input type="text"  name="contentP3"></textarea><br><br></label>
        <label>Conteudo do 4 paragrafo: <input type="text"  name="contentP4"></textarea><br><br></label>
        <label>Conteudo do 5 paragrafo: <input type="text"  name="contentP5"></textarea><br><br></label>
        <label>Conteudo do 6 paragrafo: <input type="text"  name="contentP6"></textarea><br><br></label>
        <label>Conteudo do 7 paragrafo: <input type="text"  name="contentP7"></textarea><br><br></label>
        <input type="submit" value="Salvar Postagem" class="btn-post">
        <button>Postar no site</button>
      </form>
    </div>
    <div class="area-posts container">
      <div class="area-posts-content">
        <button>posts</button>
        <p >Postagens do banco de dados:</p> 
        <div class="area-posts-content-inputs"></div>
      </div>
      <div class="area-posts-buttons">
        <div class="area-button-main-news">
          <p>Main News</p>
          <a class="pre-visu" href="">Pré-visualizar</a>
          <a href=""class="postar-main-news">Postar no site</a>
          <input type="text" name="" id="" class="subtitleMainNews" placeholder="Digite uma palavra para o subtitulo">
          <input type="text" name="" id="" class="pMainNews" placeholder="Digite um pequeno paragrafo da noticia">
        </div>
        <div class="area-button-slide1">
          <p>Slide 1</p>
          <a href="" class="pre-visu-slide1">Pré-visualizar</a>
          <a href="">Postar no site</a>
          <input type="text" name="" id="" class="subtitleSlide1" placeholder="Digite uma palavra para o subtitulo">
        </div>
        <div class="area-button-slide2">
          <p>Slide 2</p>
          <a href="">Pré-visualizar</a>
          <a href="">Postar no site</a>
          <input type="text" name="" id="" placeholder="Digite uma palavra para o subtitulo">
        </div>
        <div class="area-button-slide3">
          <p>Slide 3</p>
          <a href="">Pré-visualizar</a>
          <a href="">Postar no site</a>
          <input type="text" name="" id="" placeholder="Digite uma palavra para o subtitulo">
        </div>
        <div class="area-button-news1">
          <p>News 1</p>
          <a href="" class="pre-visu-news1">Pré-visualizar</a>
          <a href="">Postar no site</a>
        </div>
        <div class="area-button-news2">
          <p>News 2</p>
          <a href="">Pré-visualizar</a>
          <a href="">Postar no site</a>
        </div>
        <div class="area-button-news3">
          <p>News 3</p>
          <a href="">Pré-visualizar</a>
          <a href="">Postar no site</a>
        </div>
        <div class="area-button-news4">
          <p>News 4</p>
          <a href="">Pré-visualizar</a>
          <a href="">Postar no site</a>
        </div>
        <div class="area-button-news5">
          <p>News 5</p>
          <a href="">Pré-visualizar</a>
          <a href="">Postar no site</a>
        </div>
        <div class="area-button-news6">
          <p>News 6</p>
          <a href="">Pré-visualizar</a>
          <a href="">Postar no site</a>
        </div>
        <div class="area-button-news7">
          <p>News 7</p>
          <a href="">Pré-visualizar</a>
          <a href="">Postar no site</a>
        </div>
      </div>
    </div>
    <div style="align-items: center;" class="main-news container">
      <div class="modal-login-home">
        <div class="modal-login-home-content">
          <div class="modal-login-home-close">
            <img src="images/close.svg" alt="Fechar modal">
          </div>
          <h3>Entre gratuitamente para o Opinião Gospel</h3>
          <div class="modal-login-home-inputs">
            <div class="modal-login-home-inputs-p">
              <p>Seu e-mail:</p>
            </div>
            <input type="text" placeholder="Seu e-mail" name="email" class="email">
            <p class="notice-email"></p>
            <div class="modal-login-home-inputs-p-n">
              <p>Seu nome:</p>
            </div>
            <input type="text" placeholder="Digite seu nome" name="name" class="nameInput">
            <p class="notice-name"></p>
            <div class="modal-login-home-inputs-p-p">
              <p>Sua senha:</p>
            </div>
            <input type="password" placeholder="Sua senha" name="password" class="password">
            <p class="notice-password"></p>
            <div class="modal-login-home-inputs-p-p2">
              <p>Confirme sua senha:</p>
            </div>
            <input type="password" placeholder="Confirme sua senha"  name="password2" class="p2assword">
            <p class="notice-password2"></p>
          </div>
          <div class="modal-login-home-buttons">
            <button class="buttonEmail">Continuar com o e-mail</button>
            <button class="buttonLogin">Continuar</button>
            <button class="buttonLoginEmail">Login</button>
          </div>
          <div class="modal-login-home-g">
            <p>Ou continue com o</p>
          </div>
          <div class="modal-login-home-buttons-google">
            <a class="buttonGoogle"><img src="images/google.svg" alt=""></a>
          </div>
        </div>
        <div class="modal-login-home-content-close"></div>
      </div>
      <div class="main-news-area1">
        <div class="main-news-subtitle"><p>Música</p></div>
        <div class="main-news-title"><h1>Para Maurício Soares, a saída de Jessé Aguiar da música gospel foi “falta de equilíbrio emocional”</h1></div>
        <div class="main-news-p"><p>A fala de Maurício Soares sobre a decisão de Jessé Aguiar reverberou no cenário gospel.</p></div>
        <div class="main-news-comment"><img src="images/forum.svg" alt="Faça um comentário na notícia">Comente!</div>
      </div>
      <div class="main-news-area2">
        <img src="images/Mauricio-Soares-e-Jesse-Aguiar.jpg" alt="Mauricio-Soares-e-Jesse-Aguiar">
      </div>
    </div>
    <div class="area-sections-aside container">
      <div class="area-sections">
        <section class="slide ">
          <div class="slider">
            <div class="slider--controls">
                <div class="slider--control" onclick="goPrev()" ><img src="images/seta-expandir.png" style="rotate: 90deg;" alt=""></div>
                <div class="slider--control" onclick="goNext()"><img src="images/seta-expandir.png" style="rotate: -90deg;" alt=""></div>
            </div>
            <div class="slider--width">
                <div class="slider--item slide-one" >
                    <div class="slider--item-content-1">
                      <div class="slider--item-subtitle-1">Destaque</div>
                      <div class="slider--item-title-1">
                        <h2>Polêmico, Jessé Aguiar anuncia que não pertence mais “ao 
                          mercado gospel”</h2>
                      </div>
                    </div>
                </div>
                <div class="slider--item slide-two" >
                  <div class="slider--item-content-2">
                    <div class="slider--item-subtitle-2">Destaque</div>
                    <div class="slider--item-title-2">
                      <h2>Polêmico, Jessé Aguiar anuncia que não pertence mais “ao 
                        mercado gospel”</h2>
                    </div>
                  </div>
                </div>
                <div class="slider--item slide-three" >
                  <div class="slider--item-content-3">
                    <div class="slider--item-subtitle-3">Destaque</div>
                    <div class="slider--item-title-3">
                      <h2>Polêmico, Jessé Aguiar anuncia que não pertence mais “ao 
                        mercado gospel”</h2>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </section>
        <section class="news-week">
          <div class="news-week-titlemain">
            Mais Notícias
          </div>
          <div class="news-week-content">
            <div class="news-week-1">
              <div class="news-week-1-img">
                <img src="images/Imagem21-570x300 1.png" alt="">
              </div>
              <div class="news-week-1-desc">
                <div class="news-week-1-title">
                  <h3>Bruxas reagem à cruzada evangelística na Nicarágua, 
                    mas são derrotadas pelas orações</h3>
                </div>
                <div class="news-week-1-p-more">
                  <div class="news-week-1-p">
                    <p>Opine</p>
                    <div class="news-week-1-p-comment">
                      <img src="images/forum.svg" alt="">
                      <p>15</p>
                    </div>
                  </div>
                  <div class="news-week-1-more">
                    Saiba mais
                  </div>
                </div>
              </div>
            </div>
            <div class="news-week-2">
              <div class="news-week-2-img">
                <img src="images/Imagem21-570x300 1.png" alt="">
              </div>
              <div class="news-week-2-desc">
                <div class="news-week-2-title">
                  <h3>Bruxas reagem à cruzada evangelística na Nicarágua, 
                    mas são derrotadas pelas orações</h3>
                </div>
                <div class="news-week-2-p-more">
                  <div class="news-week-2-p">
                    <p>Opine</p>
                    <div class="news-week-2-p-comment">
                      <img src="images/forum.svg" alt="">
                      <p>15</p>
                    </div>
                  </div>
                  <div class="news-week-2-more">
                    Saiba mais
                  </div>
                </div>
              </div>
            </div>
            <div class="news-week-3">
              <div class="news-week-3-img">
                <img src="images/Imagem21-570x300 1.png" alt="">
              </div>
              <div class="news-week-3-desc">
                <div class="news-week-3-title">
                  <h3>Bruxas reagem à cruzada evangelística na Nicarágua, 
                    mas são derrotadas pelas orações</h3>
                </div>
                <div class="news-week-3-p-more">
                  <div class="news-week-3-p">
                    <p>Opine</p>
                    <div class="news-week-3-p-comment">
                      <img src="images/forum.svg" alt="">
                      <p>15</p>
                    </div>
                  </div>
                  <div class="news-week-3-more">
                    Saiba mais
                  </div>
                </div>
              </div>
            </div>
            <div class="news-week-4">
              <div class="news-week-4-img">
                <img src="images/Imagem21-570x300 1.png" alt="">
              </div>
              <div class="news-week-4-desc">
                <div class="news-week-4-title">
                  <h3>Bruxas reagem à cruzada evangelística na Nicarágua, 
                    mas são derrotadas pelas orações</h3>
                </div>
                <div class="news-week-4-p-more">
                  <div class="news-week-4-p">
                    <p>Opine</p>
                    <div class="news-week-4-p-comment">
                      <img src="images/forum.svg" alt="">
                      <p>15</p>
                    </div>
                  </div>
                  <div class="news-week-4-more">
                    Saiba mais
                  </div>
                </div>
              </div>
            </div>
            <div class="news-week-5">
              <div class="news-week-5-img">
                <img src="images/Imagem21-570x300 1.png" alt="">
              </div>
              <div class="news-week-5-desc">
                <div class="news-week-5-title">
                  <h3>Bruxas reagem à cruzada evangelística na Nicarágua, 
                    mas são derrotadas pelas orações</h3>
                </div>
                <div class="news-week-5-p-more">
                  <div class="news-week-5-p">
                    <p>Opine</p>
                    <div class="news-week-5-p-comment">
                      <img src="images/forum.svg" alt="">
                      <p>15</p>
                    </div>
                  </div>
                  <div class="news-week-5-more">
                    Saiba mais
                  </div>
                </div>
              </div>
            </div>
            <div class="news-week-6">
              <div class="news-week-6-img">
                <img src="images/Imagem21-570x300 1.png" alt="">
              </div>
              <div class="news-week-6-desc">
                <div class="news-week-6-title">
                  <h3>Bruxas reagem à cruzada evangelística na Nicarágua, 
                    mas são derrotadas pelas orações</h3>
                </div>
                <div class="news-week-6-p-more">
                  <div class="news-week-6-p">
                    <p>Opine</p>
                    <div class="news-week-6-p-comment">
                      <img src="images/forum.svg" alt="">
                      <p>15</p>
                    </div>
                  </div>
                  <div class="news-week-6-more">
                    Saiba mais
                  </div>
                </div>
              </div>
            </div>
            <div class="news-week-7">
              <div class="news-week-7-img">
                <img src="images/Imagem21-570x300 1.png" alt="">
              </div>
              <div class="news-week-7-desc">
                <div class="news-week-7-title">
                  <h3>Bruxas reagem à cruzada evangelística na Nicarágua, 
                    mas são derrotadas pelas orações</h3>
                </div>
                <div class="news-week-7-p-more">
                  <div class="news-week-7-p">
                    <p>Opine</p>
                    <div class="news-week-7-p-comment">
                      <img src="images/forum.svg" alt="">
                      <p>15</p>
                    </div>
                  </div>
                  <div class="news-week-7-more">
                    Saiba mais
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <aside> 
        <div class="aside-content">
          <div class="aside-title">
            <h3>As mais comentadas da semana no Fórum</h3>
          </div>
          <div class="aside-forum">
            <div class="aside-forum1">
              <div class="aside-forum1-person">
                <div class="aside-forum1-person-area">
                  <img src="images/persona.png" alt="">
                </div>
              </div>
              <div class="aside-forum1-desc">
                <div class="aside-forum1-desc-title">
                  <h3>Porque a igreja Congregacão Cristã se considera  a unica escolhida?</h3>
                </div>
                <div class="aside-forum1-desc-res">
                  <p>Última resposta: Fulano de tal há 1 dia</p>
                </div>
                <div class="aside-forum1-desc-qt-comments">
                  <img src="images/forum.svg" alt="">
                  <p>10 Comentários</p>
                </div>
              </div>
  
            </div>
            <div class="aside-forum2">
              <div class="aside-forum2-person">
                <div class="aside-forum2-person-area">
                  <img src="images/persona.png" alt="">
                </div>
              </div>
              <div class="aside-forum2-desc">
                <div class="aside-forum2-desc-title">
                  <h3>Porque a igreja Congregacão Cristã se considera  a unica escolhida?</h3>
                </div>
                <div class="aside-forum2-desc-res">
                  <p>Última resposta: Fulano de tal há 1 dia</p>
                </div>
                <div class="aside-forum2-desc-qt-comments">
                  <img src="images/forum.svg" alt="">
                  <p>10 Comentários</p>
                </div>
              </div>
            </div>
            <div class="aside-forum3">
              <div class="aside-forum3-person">
                <div class="aside-forum3-person-area">
                  <img src="images/persona.png" alt="">
                </div>
              </div>
              <div class="aside-forum3-desc">
                <div class="aside-forum3-desc-title">
                  <h3>Porque a igreja Congregacão Cristã se considera  a unica escolhida?</h3>
                </div>
                <div class="aside-forum3-desc-res">
                  <p>Última resposta: Fulano de tal há 1 dia</p>
                </div>
                <div class="aside-forum3-desc-qt-comments">
                  <img src="images/forum.svg" alt="">
                  <p>10 Comentários</p>
                </div>
              </div>
            </div>
            <div class="aside-forum4">
              <div class="aside-forum4-person">
                <div class="aside-forum4-person-area">
                  <img src="images/persona.png" alt="">
                </div>
              </div>
              <div class="aside-forum4-desc">
                <div class="aside-forum4-desc-title">
                  <h3>Porque a igreja Congregacão Cristã se considera  a unica escolhida?</h3>
                </div>
                <div class="aside-forum4-desc-res">
                  <p>Última resposta: Fulano de tal há 1 dia</p>
                </div>
                <div class="aside-forum4-desc-qt-comments">
                  <img src="images/forum.svg" alt="">
                  <p>10 Comentários</p>
                </div>
              </div>
            </div>
            <div class="aside-forum5">
              <div class="aside-forum5-person">
                <div class="aside-forum5-person-area">
                  <img src="images/persona.png" alt="">
                </div>
              </div>
              <div class="aside-forum5-desc">
                <div class="aside-forum5-desc-title">
                  <h3>Porque a igreja Congregacão Cristã se considera  a unica escolhida?</h3>
                </div>
                <div class="aside-forum5-desc-res">
                  <p>Última resposta: Fulano de tal há 1 dia</p>
                </div>
                <div class="aside-forum5-desc-qt-comments">
                  <img src="images/forum.svg" alt="">
                  <p>10 Comentários</p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </aside>
    </div>
  </main>
  <script>
    import * as update from 'js/update.js';

    const button = document.querySelector('.area-posts-content button')
    const buttonPostMainNews = document.querySelector('.postar-main-news')

    const buttonPreVisu = document.querySelector('.pre-visu')
    const buttonPreVisuSlide1 = document.querySelector('.pre-visu-slide1')
    const buttonPreVisuNews1 = document.querySelector('.pre-visu-news1')
    const inputs = document.querySelector('.area-posts-content-inputs')
    
    const subtitleMainNews = document.querySelector('.subtitleMainNews')
    const h1MainNews = document.querySelector('.main-news-title h1')
    const pMainNews = document.querySelector('.pMainNews')
    const pMainNewsVisu = document.querySelector('.main-news-p p')
    const subtitleMainNewsVisu = document.querySelector('.main-news-subtitle p')
    const imgMainNewsVisu = document.querySelector('main .main-news-area2 img')

    const imgSlide1 = document.querySelector('.slider--item-content-1')
    const imgSlide2 = document.querySelector('.slider--item-content-2')
    const imgSlide3 = document.querySelector('.slider--item-content-3')
    const subtitleSlide1 = document.querySelector('.slider--item-subtitle-1')
    const subtitleSlide2 = document.querySelector('.slider--item-subtitle-2')
    const subtitleSlide3 = document.querySelector('.slider--item-subtitle-3')
    const titleSlide1 = document.querySelector('.slider--item-title-1 h2')
    const titleSlide2 = document.querySelector('.slider--item-title-2 h2')
    const titleSlide3 = document.querySelector('.slider--item-title-3 h2')
    const subtitleSlide1Pre = document.querySelector('.subtitleSlide1')

    const imgNews1 = document.querySelector('.news-week-1-img img')
    const imgNews2 = document.querySelector('.news-week-2-img img')
    const imgNews3 = document.querySelector('.news-week-3-img img')
    const titleNews1 = document.querySelector('.news-week-1-title h3')
    const titleNews2 = document.querySelector('.news-week-2-title h3')
    const titleNews3 = document.querySelector('.news-week-3-title h3')

    buttonPostMainNews.addEventListener('click', item => postMainNews(item))
    buttonPreVisu.addEventListener('click', item => preVisualize(item))
    buttonPreVisuSlide1.addEventListener('click', item => preVisualizeSlide1(item))
    buttonPreVisuNews1.addEventListener('click', item => preVisualizeNews1(item))

    button.addEventListener('click', getPosts)
    async function getPosts() {
      const posts = await fetch(`http://localhost:4000/site/d215be0e-5383-4a98-ba99-5fd3f4738fd9`, {
          method: 'GET',
          headers: {
              "Content-Type": "application/x-www-form-urlencoded"
          }
      })
      const json = await posts.json();
      console.log(json)
      if(json.posts){
        console.log(json.posts)
        json.posts.forEach(item => {
          inputs.innerHTML +=  `<input type="radio" id="${item.id}" name="fav_language" value="${item.id}">
          <label for="${item.id}">${item.title}</label><br>`
        })
      }
    }
    async function getPost(id) {
      const post = await fetch(`http://localhost:4000/post/${id}`, {
          method: 'GET',
          headers: {
              "Content-Type": "application/x-www-form-urlencoded"
          }
      })
      const json = await post.json();
      if(json.post){
        return json.post
      }
    }
    async function postMainNews(item) {
      item.preventDefault();
      const inputsRadioChecked = document.querySelector('.area-posts-content-inputs input:checked')
      if(inputsRadioChecked.value != '' && subtitleMainNews.value != '' && pMainNews.value != '') {
        const post = await getPost(inputsRadioChecked.value)
        if(post) {
          update.subtitleMainNews.innerText = subtitleMainNews.value
          update.h1MainNews.innerText = post.title
          update.pMainNews.innerText = pMainNews.value
          update.imgMainNews.setAttribute('src', `media/${post.img}`)
          // pMainNewsVisu.innerText = pMainNews.value
          // subtitleMainNewsVisu.innerText = subtitleMainNews.value
          // h1MainNews.innerText = post.title
          // imgMainNewsVisu.setAttribute('src', `media/${post.img}`)
        }
      }
    }
    async function preVisualize(item) {
      item.preventDefault();
      const inputsRadioChecked = document.querySelector('.area-posts-content-inputs input:checked')
      if(inputsRadioChecked.value != '' && subtitleMainNews.value != '' && pMainNews.value != '') {
        const post = await getPost(inputsRadioChecked.value)
        if(post) {
          pMainNewsVisu.innerText = pMainNews.value
          subtitleMainNewsVisu.innerText = subtitleMainNews.value
          h1MainNews.innerText = post.title
          imgMainNewsVisu.setAttribute('src', `media/${post.img}`)
        }
      }
    }
    async function preVisualizeSlide1(item) {
      item.preventDefault();
      const inputsRadioChecked = document.querySelector('.area-posts-content-inputs input:checked')
      if(inputsRadioChecked.value != '' && subtitleSlide1Pre.value != '') {
        const post = await getPost(inputsRadioChecked.value)
        if(post) {
          imgSlide1.style.backgroundImage = `url(../media/${post.img})`
          subtitleSlide1.innerText = subtitleSlide1Pre.value
          titleSlide1.innerText = post.title
        }
      }
    }
    async function preVisualizeNews1(item) {
      item.preventDefault();
      const inputsRadioChecked = document.querySelector('.area-posts-content-inputs input:checked')
      if(inputsRadioChecked.value != '') {
        const post = await getPost(inputsRadioChecked.value)
        if(post) {
          let img80 = post.img
          img80 = img80.substring(0, img80.length - 7)
          imgNews1.setAttribute('src', `media/${img80}150.jpg`) 
          titleNews1.innerText = post.title
        }
      }
    }
  </script>
  <script src="js/slide.js"></script>
  <script src="js/update.js"></script>
  <%- include('../partials/footer') %>
</body>
</html>