<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Opinião Gospel - Jessé Aguiar gera controvérsia ao declarar que não faz mais parte</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/stylepage.css">
</head>
<body>
<header>
  <div class="header-content ">
    <div class="header-content-desc container">
      <div class="header-logo">
        <a href="/">
        <img src="/images/logo.png" alt="Logo Opinião Gospel">
        <p>Opinião Gospel</p>
       </a>
      </div>
      <div class="header-icons-menu">
        <nav>
          <li><a href=""><div class="area-home"><img src="/images/home.svg" alt="Imagem Home">Home</div></a></li>
          <li><a href=""><div class="area-forum"><img src="/images/forum.svg" alt="Imagem Fórum">Fórum</div></a></li>
          <% if (userId) { %>
            <li><a href=""><div class="area-alerts"><img src="/images/alert.svg" alt="Imagem Alerta"></div></a></li>
          <% } %> 
        </nav>
        <% if (userId) { %>
          <div class="header-persona"><a href=""><img src="/images/persona.png" alt="Imagem Perfil"></a></div>
          <div class="header-persona-open"><a href=""><img src="/images/seta-expandir.png" alt="Imagem Expandir Perfil">
            <div class="header-persona-perfil close">
              <a href="/user"><div class="area-persona-perfil" id="">Perfil</div></a>
              <div class="area-persona-logout" id="">Sair</div>
            </div></a>
          </div>
          
        <% } %> 
        <% if (userId===undefined) { %>
          <div class="button-enter"><a href="">Entrar</a></div>
        <% } %> 
        
      </div>
    </div>
  </div>
</header>