<header>
  <div class="header-content ">
    <div class="header-content-desc container">
      <div class="header-logo">
        <img src="images/logo.png" alt="Logo Opini찾o Gospel">
        <p>Opini찾o Gospel</p>
      </div>
      <div class="header-icons-menu">
        <nav>
          <li><a href=""><div class="area-home"><img src="images/home.svg" alt="Imagem Home">Home</div></a></li>
          <li><a href=""><div class="area-forum"><img src="images/forum.svg" alt="Imagem F처rum">F처rum</div></a></li>
          <li><a href=""><div class="area-alerts"><img src="images/alert.svg" alt="Imagem Alerta"></div></a></li>
        </nav>
        <div class="header-persona"><a href=""><img src="images/persona.png" alt="Imagem Perfil"></a></div>
        <div class="header-persona-open"><a href=""><img src="images/seta-expandir.png" alt="Imagem Expandir Perfil">
          <div class="header-persona-perfil close">
            <a href="/user"><div class="area-persona-perfil" id="">Perfil</div></a>
            <div class="area-persona-logout" id="">Sair</div>
          </div>
        </a></div>
        <div class="button-enter"><a href="">Entrar</a></div>
      </div>
    </div>
  </div>
</header>