<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Opinião Gospel</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/styleforum.css"> 
  <link rel="stylesheet" href="/css/stylepage.css">
</head>
<body>
<header>
  <div class="header-content ">
    <div class="header-content-desc container">
      <div class="header-logo">
        <a href="/">
        <img src="/images/logo.png" alt="Logo Opinião Gospel">
        <p>Opinião Gospel</p>
       </a>
      </div>
      <div class="header-icons-menu">
        <nav class="menu">
          <li><a href="/"><div class="area-home"><img src="/images/home.svg" alt="Imagem Home">Home</div></a></li>
          <li><a href="/forum"><div class="area-forum"><img src="/images/forum.svg" alt="Imagem Fórum">Fórum</div></a></li>
          <% if (userId.id) { %>
            <!--<li><div class="area-alerts" >
              <img src="/images/alert.svg" alt="Imagem Alerta">
              
              <div class="area-alerts-content close">
               
              </div>
            </div></li>-->
          <% } %> 
        </nav>
        <div class="menu-mobile">
          <nav>
            <li><a href="/"><div class="area-home">
              <svg width="40px" height="40px" viewBox="0 0 24 24" fill= <% if(menuHomeMobile){ %>"rgb(177,86,130)" <% } else { %> "#CCC" <% } %> xmlns="http://www.w3.org/2000/svg">
                <path d="M20 11.75C19.8376 11.7507 19.6795 11.698 19.55 11.6L12 5.94L4.45 11.6C4.29087 11.7193 4.09085 11.7706 3.89394 11.7425C3.69702 11.7143 3.51935 11.6091 3.4 11.45C3.28066 11.2909 3.22941 11.0908 3.25754 10.8939C3.28567 10.697 3.39087 10.5193 3.55 10.4L11.55 4.4C11.6798 4.30263 11.8377 4.25 12 4.25C12.1623 4.25 12.3202 4.30263 12.45 4.4L20.45 10.4C20.5952 10.5179 20.6911 10.6859 20.7189 10.8709C20.7466 11.0559 20.7042 11.2446 20.6 11.4C20.5363 11.503 20.4482 11.5888 20.3436 11.6498C20.239 11.7108 20.121 11.7452 20 11.75Z" />
                <path d="M18 19.75H6C5.80189 19.7474 5.61263 19.6676 5.47253 19.5275C5.33244 19.3874 5.25259 19.1981 5.25 19V9.5C5.25 9.30109 5.32902 9.11032 5.46967 8.96967C5.61032 8.82902 5.80109 8.75 6 8.75C6.19891 8.75 6.38968 8.82902 6.53033 8.96967C6.67098 9.11032 6.75 9.30109 6.75 9.5V18.25H17.25V9.5C17.25 9.30109 17.329 9.11032 17.4697 8.96967C17.6103 8.82902 17.8011 8.75 18 8.75C18.1989 8.75 18.3897 8.82902 18.5303 8.96967C18.671 9.11032 18.75 9.30109 18.75 9.5V19C18.7474 19.1981 18.6676 19.3874 18.5275 19.5275C18.3874 19.6676 18.1981 19.7474 18 19.75Z" />
                <path d="M14 19.75C13.8019 19.7474 13.6126 19.6676 13.4725 19.5275C13.3324 19.3874 13.2526 19.1981 13.25 19V12.75H10.75V19C10.75 19.1989 10.671 19.3897 10.5303 19.5303C10.3897 19.671 10.1989 19.75 10 19.75C9.80109 19.75 9.61032 19.671 9.46967 19.5303C9.32902 19.3897 9.25 19.1989 9.25 19V12C9.25259 11.8019 9.33244 11.6126 9.47253 11.4725C9.61263 11.3324 9.80189 11.2526 10 11.25H14C14.1981 11.2526 14.3874 11.3324 14.5275 11.4725C14.6676 11.6126 14.7474 11.8019 14.75 12V19C14.7474 19.1981 14.6676 19.3874 14.5275 19.5275C14.3874 19.6676 14.1981 19.7474 14 19.75Z" />
              </svg>
              <p <% if(menuHomeMobile){ %>style="color: #333" <% } else { %> style="color: #CCC" <% } %> >Home</p>
            </div></a></li>
            <li><a href="/forum"><div class="area-forum">
              <svg height="40px" width="40px" version="1.1" id="_x32_" fill=
              <% if(menuForumMobile){ %>"#41B5D3" <% } else { %> "#CCC" <% } %>
              xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                viewBox="0 0 512 512"  xml:space="preserve">
                <g>
                  <path class="st0" d="M92.574,294.24V124.336H43.277C19.449,124.336,0,144.213,0,168.467v206.44
                    c0,24.254,19.449,44.133,43.277,44.133h62v45.469c0,3.041,1.824,5.777,4.559,6.932c2.736,1.154,5.957,0.486,8.023-1.641
                    l49.844-50.76h106.494c23.828,0,43.279-19.879,43.279-44.133v-0.061H172.262C128.314,374.846,92.574,338.676,92.574,294.24z"/>
                  <path class="st0" d="M462.717,40H172.26c-27.105,0-49.283,22.59-49.283,50.197v204.037c0,27.61,22.178,50.199,49.283,50.199
                    h164.668l75.348,76.033c2.399,2.442,6.004,3.172,9.135,1.852c3.133-1.322,5.176-4.434,5.176-7.887v-69.998h36.131
                    c27.106,0,49.283-22.59,49.283-50.199V90.197C512,62.59,489.822,40,462.717,40z M369.156,280.115H195.92v-24.316h173.236V280.115z
                    M439.058,204.129H195.92v-24.314h243.138V204.129z M439.058,128.143H195.92v-24.315h243.138V128.143z"/>
                </g>
              </svg>
              <p  <% if(menuForumMobile){ %>style="color: #333" <% } else { %> style="color: #CCC" <% } %>>Fórum</p> </div></a></li>
            <% if (userId.id) { %>
              <!--<li><div class="area-alerts" >
                <img src="/images/alert.svg" alt="Imagem Alerta">
                
                <div class="area-alerts-content close">
                 
                </div>
              </div></li>-->
            <% } %> 
          </nav>
        </div>
        <% if (userId.id) { %>
          <div class="header-persona"><a href=""><img src="/media/<%=userId.avatar%>" alt="Imagem Perfil"></a></div>
          <div class="header-persona-open"><a href=""><img src="/images/seta-expandir.png" alt="Imagem Expandir Perfil">
            <div class="header-persona-perfil close">
              <a href="/userName/<%=userId.nickName%>"><div class="area-persona-perfil" id="">Perfil</div></a>
              <a href="/logout"><div class="area-persona-logout" id="">Sair</div></a>
            </div></a>
          </div>
          
        <% } %> 
        <% if (!userId.id) { %>
          <div class="button-enter"><a href="">Entrar</a></div>
        <% } %> 
        <div class="modal-login-home">
          <div class="modal-login-home-content">
            <div class="modal-login-home-close">
              <img src="/images/close.svg" alt="Fechar modal">
            </div>
            <h3>Entre gratuitamente para o Opinião Gospel</h3>
            <div class="modal-login-home-inputs">
              <div class="modal-login-home-inputs-p">
                <p>Seu e-mail:</p>
              </div>
              <input type="text" placeholder="Seu e-mail" name="email" class="email">
              <p class="notice-email"></p>
              <div class="modal-login-home-inputs-p-n">
                <p>Seu nome:</p>
              </div>
              <input type="text" placeholder="Digite seu nome" name="name" class="nameInput">
              <p class="notice-name"></p>
              <div class="modal-login-home-inputs-p-p">
                <p>Sua senha:</p>
              </div>
              <input type="password" placeholder="Sua senha" name="password" class="password">
              <p class="notice-password"></p>
              <div class="modal-login-home-inputs-p-p2">
                <p>Confirme sua senha:</p>
              </div>
              <input type="password" placeholder="Confirme sua senha"  name="password2" class="p2assword">
              <p class="notice-password2"></p>
            </div>
            <div class="modal-login-home-buttons">
              <button class="buttonEmail">Continuar com o e-mail</button>
              <button class="buttonLogin">Continuar</button>
              <p class="forgotPassword">Esqueci a senha</p>
              <button class="buttonLoginEmail">Login</button>
              <button class="buttonForgot">Recuperar a senha</button>
            </div>
            
            <div class="modal-login-home-g" style="display: none;">
              <p>Ou continue com o</p>
            </div>
            
            <div class="modal-login-home-buttons-google" style="display: none;">
              <a class="buttonGoogle"><img src="/images/google.svg" alt=""></a>
            </div>
            <!--
            <button class="face" scope="public_profile,email" onlogin="checkLoginState();">FACE
              
            </button>-->
          </div>
          <div class="modal-login-home-content-close"></div>
        </div>
      </div>
    </div>
  </div>
</header>
<script>
  // const fb = document.querySelector('.face')
  // //fb.addEventListener('click', checkLoginState)
  

  // window.fbAsyncInit = function() {
  //   FB.init({
  //     appId      : '207266138594680',
  //     cookie     : true,
  //     xfbml      : true,
  //     version    : '16.0'
  //   });
      
  //   FB.AppEvents.logPageView();   
      
  // };

  // (function(d, s, id){
  //    var js, fjs = d.getElementsByTagName(s)[0];
  //    if (d.getElementById(id)) {return;}
  //    js = d.createElement(s); js.id = id;
  //    js.src = "https://connect.facebook.net/en_US/sdk.js";
  //    fjs.parentNode.insertBefore(js, fjs);
  //  }(document, 'script', 'facebook-jssdk'));

  //  FB.getLoginStatus(function(response) {
  //   statusChangeCallback(response);
  //   console.log(response);
  // });

 

  const body = document.querySelector('body')
  const buttonEnter = document.querySelector('.button-enter') 
  const areaAlertsUser = document.querySelector('.area-alerts')
  const areaPersonaUser = document.querySelector('.header-persona')
  const areaPersonaAUser = document.querySelector('.header-persona a')
  const areaPersonaIMGUser = document.querySelector('.header-persona a img')
  const areaConfigUser = document.querySelector('.header-persona-open')
  const openConfigUser = document.querySelector('.header-persona-open a')
  const areaConfigLoggoutUser = document.querySelector('.header-persona-perfil')
  const areaPerfilUser = document.querySelector('.area-persona-perfil')
  const areaLoggoutUser = document.querySelector('.area-persona-logout')


  const buttonCloseModal = document.querySelector('.modal-login-home-close')
  const backgroundModalHome = document.querySelector('.modal-login-home')
  const modalHome = document.querySelector('.modal-login-home-content-close')

  const menuMobileHome = document.querySelector('.menu-mobile .area-home')
  const menuMobileHomeSVG = document.querySelector('.menu-mobile .area-home svg')
  const menuMobileForum = document.querySelector('.menu-mobile .area-forum')
  const menuMobileForumSVG = document.querySelector('.menu-mobile .area-forum svg')
  

  const h3Modal = document.querySelector('.modal-login-home-content h3')
  const inputEmailModal = document.querySelector('.modal-login-home-content .email')
  const inputNameModal = document.querySelector('.modal-login-home-content .nameInput')
  const inputPasswordModal = document.querySelector('.modal-login-home-content .password')
  const inputPassword2Modal = document.querySelector('.modal-login-home-content .p2assword')
  const buttonContinuesEmail = document.querySelector('.modal-login-home-content .buttonEmail')
  const buttonRegister = document.querySelector('.modal-login-home-content .buttonLogin')
  const buttonLogin = document.querySelector('.modal-login-home-content .buttonLoginEmail')
  const buttonForgot = document.querySelector('.modal-login-home-content .buttonForgot')
  const forgotPassword = document.querySelector('.modal-login-home-content .forgotPassword')
  const buttonGoogle = document.querySelector('.modal-login-home-content .buttonGoogle')
  const pEmailModal = document.querySelector('.modal-login-home-content .modal-login-home-inputs-p')
  const pNameModal = document.querySelector('.modal-login-home-content .modal-login-home-inputs-p-n')
  const pPasswordModal = document.querySelector('.modal-login-home-content .modal-login-home-inputs-p-p')
  const pPassword2Modal = document.querySelector('.modal-login-home-content .modal-login-home-inputs-p-p2')
  const pGoogleModal = document.querySelector('.modal-login-home-content .modal-login-home-g')
  const pNoticeEmail = document.querySelector('.modal-login-home-content .notice-email')
  const pNoticeName = document.querySelector('.modal-login-home-content .notice-name')
  const pNoticePassword = document.querySelector('.modal-login-home-content .notice-password')
  const pNoticePassword2 = document.querySelector('.modal-login-home-content .notice-password2')


  menuMobileHome.addEventListener('click', (item)=> {
    
      menuMobileHome.classList.add('active')
      menuMobileForum.classList.remove('active')
      toggleMenuMobile()
    
    
  })
  menuMobileForum.addEventListener('click', (item) => {
    
    menuMobileForum.classList.add('active')
    menuMobileHome.classList.remove('active')
      toggleMenuMobile()
    
    
  })
 
 
  forgotPassword.addEventListener('click', sendForgotPassword)
  buttonForgot.addEventListener('click', () => {
    const email = inputEmailModal.value
    const emailValid = validateEmail(email)
    if(emailValid) {
      sendForgotPassword2(email)
    } else {
      pNoticeEmail.innerText = 'Digite um e-mail valido'
    }
  })
  function toggleMenuMobile() {
    if(menuMobileHome.classList.contains('active')) {
      menuMobileHomeSVG.setAttribute('fill', '#CCC')
      menuMobileForumSVG.setAttribute('fill', '#41B5D3')
    } 
    if(menuMobileForum.classList.contains('active')) {
      menuMobileForumSVG.setAttribute('fill', '#CCC')
      menuMobileHomeSVG.setAttribute('fill', 'rgb(177,86,130)')
    }
    
  }
  function toggleAreaUser(item) {
    item.preventDefault()
    areaConfigLoggoutUser.classList.toggle('close')
  }
  function toogleAreaAlerts() {
    //item.preventDefault()
    areaAlerts.classList.toggle('close')
  }
  
  
  
  if(areaPersonaAUser) {
    //alerts.addEventListener('click', toogleAreaAlerts)
    areaPersonaAUser.addEventListener('click', item => toggleAreaUser(item))
    areaPersonaIMGUser.addEventListener('click', item => toggleAreaUser(item))
    areaPersonaUser.addEventListener('click', item => toggleAreaUser(item))
    openConfigUser.addEventListener('click',  item => toggleAreaUser(item))
    areaLoggoutUser.addEventListener('click', logoutUser )
  }

  if(buttonEnter) {

    buttonEnter.addEventListener('click', item => openModal(item)) 
  }
  function openModal(item) {
    item.preventDefault();
    body.style.overflow = 'hidden'
    backgroundModalHome.style.display = 'flex'
    setTimeout( ()=>{
      backgroundModalHome.style.opacity = 1
  }, 400);}
  function openModal2() {
    h3Modal.innerText = 'Ei, calma lá, para soltar o verbo nos comentários e espalhar aqueles likes por aí é preciso estar logado no Opinião Gospel! Bora fazer parte da turma e entrar nessa?'
    body.style.overflow = 'hidden'
    backgroundModalHome.style.display = 'flex'
    setTimeout( ()=>{
      backgroundModalHome.style.opacity = 1
  }, 200);}
  

  
  modalHome.addEventListener('click', closeModal)
  buttonCloseModal.addEventListener('click', closeModal)
  

  function closeModal() {
    body.style.overflow = 'auto'
    backgroundModalHome.style.opacity = 0
    setTimeout( ()=>{
      backgroundModalHome.style.display = 'none'
      closeInputsRegisterEmail()
    }, 400);
  }
  
function logoutUser() {
  localStorage.removeItem('id')
}
buttonContinuesEmail.addEventListener('click', (item) => {
    const email = inputEmailModal.value
    const emailValid = validateEmail(email)
    if(!emailValid) {
        pNoticeEmail.innerText = 'Informe um e-mail valido'
    } else {
        findByEmail(email)
    }
} )


inputPasswordModal.addEventListener('focus', noticePassword)
inputPasswordModal.addEventListener('keyup', item => countNoticePassword(item))
inputPassword2Modal.addEventListener('focus', noticePassword2)
inputPassword2Modal.addEventListener('keyup', item => countNoticePassword2(item))

function noticePassword() {
    if(inputPasswordModal.value.length < 8) {
        pNoticePassword.innerText = 'A senha deve contar ao menos 8 digitos!'
    }
}
function noticePassword2() {
    if(inputPasswordModal.value !== inputPassword2Modal.value) {
        pNoticePassword2.innerText = 'A senha deve igual a digitada anteriormente'
    }
}
function noticePassword3(msg) {
  pNoticePassword2.style.display = 'flex'
  pNoticePassword2.innerText = msg
    
}
function countNoticePassword(item) {
    const count = inputPasswordModal.value.length 
    if(count == 8) {
        pNoticePassword.innerText = ''
    }
}
function countNoticePassword2(item) {
    if(inputPasswordModal.value === inputPassword2Modal.value) {
        pNoticePassword2.innerText = ''
    }
    if(inputPasswordModal.value !== inputPassword2Modal.value) {
        pNoticePassword2.innerText = 'A senha deve igual a digitada anteriormente'
    }
}
function openInputs() {
    const email = validateEmail(inputEmailModal.value)
    if(email){
        pNoticeEmail.innerText = ''
        openInputsRegisterEmail()
    } else {
        pNoticeEmail.innerText = 'Informe um e-mail valido'
    }
}
function sendForgotPassword() {
  buttonContinuesEmail.style.display = 'none'
  buttonGoogle.style.display = 'none'
  pGoogleModal.style.display = 'none'
  pNoticePassword.style.display = 'none'
  inputPasswordModal.style.display = 'none'
  pNoticePassword2.style.display = 'none'
  forgotPassword.style.display = 'none'
  buttonLogin.style.display = 'none'
  buttonForgot.style.display = 'flex'
  forgotPassword.style.display = 'none'
  pEmailModal.style.display = 'flex'
  inputEmailModal.value = ''
  pPasswordModal.style.display = 'none'
  h3Modal.innerText = 'Digite seu e-mail para recuperação da senha!'
}
function toDoLogin() {
    buttonContinuesEmail.style.display = 'none'
    buttonGoogle.style.display = 'none'
    pGoogleModal.style.display = 'none'
    pNoticePassword.style.display = 'none'
    inputPasswordModal.style.display = 'flex'
    buttonLogin.style.display = 'flex'
    buttonForgot.style.display = 'none'
    forgotPassword.style.display = 'flex'
    pEmailModal.style.display = 'flex'
    pPasswordModal.style.display = 'flex'
    h3Modal.innerText = 'Faça o Login em sua conta!'
}
function openInputsRegisterEmail(){
    buttonContinuesEmail.style.display = 'none'
    buttonGoogle.style.display = 'none'
    pGoogleModal.style.display = 'none'
    inputNameModal.style.display = 'flex'
    inputPasswordModal.style.display = 'flex'
    inputPassword2Modal.style.display = 'flex'
    buttonRegister.style.display = 'flex'
    pEmailModal.style.display = 'flex'
    pNameModal.style.display = 'flex'
    pPasswordModal.style.display = 'flex'
    pPassword2Modal.style.display = 'flex'
    
}
function closeInputsRegisterEmail() {
    buttonContinuesEmail.style.display = 'flex'
    buttonGoogle.style.display = 'flex'
    inputNameModal.style.display = 'none'
    inputPasswordModal.style.display = 'none'
    inputPassword2Modal.style.display = 'none'
    buttonRegister.style.display = 'none'
    buttonLogin.style.display = 'none'
    buttonForgot.style.display = 'none'
    forgotPassword.style.display = 'none'
    pEmailModal.style.display = 'none'
    pNameModal.style.display = 'none'
    pPasswordModal.style.display = 'none'
    pPassword2Modal.style.display = 'none'
    pNoticeEmail.innerText = ''
    inputPasswordModal.value = ''
    inputPassword2Modal.value = ''
    pNoticePassword.innerText = ''
    pNoticePassword2.innerText = ''
    setTimeout( ()=>{
        buttonLogin.style.backgroundColor = 'var(--orange-black)'
        h3Modal.innerText = 'Entre gratuitamente para o Opinião Gospel'
        buttonLogin.innerText = 'Login'
        buttonRegister.style.backgroundColor = 'var(--orange-black)'
        buttonRegister.innerText = 'Continuar'
    }, 1000);
    
}
function validateEmail (emailCapturadoDoFormulario) {
   let validarRegExNoEmail = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
   if (emailCapturadoDoFormulario.match(validarRegExNoEmail)) {
     return true; 
   } else {
     return false; 
   }
}
function sendEmailForgetSucess() {
  buttonForgot.style.backgroundColor = '#0cc70cfc'
  buttonForgot.innerText = 'E-mail encaminhado com sucesso'
}
function loginSucess(user) {
    buttonLogin.style.backgroundColor = '#0cc70cfc'
    buttonLogin.innerText = 'Login feito com sucesso'
    setTimeout( ()=>{
        closeModal()
    }, 500);
    //userLogged(user)
}
function createSucess(user) {
    buttonRegister.style.backgroundColor = '#0cc70cfc'
    buttonRegister.innerText = 'Conta criada com sucesso'
    setTimeout( ()=>{
        closeModal()
    }, 500);
    //userLogged(user)
}

buttonRegister.addEventListener('click', item => {
    sendDataNewUser(inputEmailModal.value, inputNameModal.value, inputPasswordModal.value, inputPassword2Modal.value)
})
buttonLogin.addEventListener('click', item => {
    loginUser(inputEmailModal.value, inputPasswordModal.value)
})

async function sendForgotPassword2(email) {
  const forgot = await fetch('/notification', {
    method: 'POST',
    headers: {
        "Content-Type": "application/x-www-form-urlencoded"
    },
    body: new URLSearchParams({
        email
    })
  })
  const json = await forgot.json()
  if(json.message === "e-mail enviado com sucesso") {
    sendEmailForgetSucess()
  }
}
async function sendDataNewUser(email, name, password, password2) {
    pNoticePassword2.innerHTML = ''
    pNoticeEmail.innerText = ''
    pNoticeName.innerText = ''
    const emailValid = validateEmail(email)
    if(!emailValid) {
        pNoticeEmail.innerText = 'Informe um e-mail valido'
    }
    if(name.length <= 2) {
        pNoticeName.innerText = 'Informe seu nome!'
    }
    if(password !== password2) {
        pNoticePassword2.innerText = 'A senha deve igual a digitada anteriormente'
    }
    const newUser = await registerNewUser(email, name, password, password2)
}

async function findByEmail(email) {
  const emailValid = validateEmail(email)
  if(emailValid) {
      const existsEmail = await fetch(`http://localhost:4000/userEmail/${email}`, {
          method: 'GET',
          headers: {
              "Content-Type": "application/x-www-form-urlencoded"
          }
      })
      const json = await existsEmail.json()
      if(json.error === 'E-mail não cadastrado') {
          openInputs()
      }
      if(json.id){
          toDoLogin()
      }
  } else {
      pNoticeEmail.innerText = 'Informe um e-mail valido'
    }
}
async function registerNewUser(email, name, password, password2) {
    if(password === password2) {
        const newUser = await fetch(`http://localhost:4000/user`, {
            method: 'POST',
            headers: {
                "Content-Type": "application/x-www-form-urlencoded"
            },
            body: new URLSearchParams({
                email, name, password
            })
        })
        const json = await newUser.json()
        if(json.id) {
            createSucess(json)
            location.reload() 
            // localStorage.setItem("token", json.token);
            localStorage.setItem('id', json.id)
            // areaPerfilUser.setAttribute('id', json.id)
        }
    } 
}

async function loginUser(email, password)  {
    const loginUser = await fetch(`/login`, {
        method: 'POST',
        headers: {
            "Content-Type": "application/x-www-form-urlencoded"
        },
        body: new URLSearchParams({
            email, password
        })
    })
    const json = await loginUser.json();
    if(json.id){
      loginSucess(json)
      console.log(json)
      localStorage.setItem('id', json.id)
      location.reload() 
    }
    if(json.error === 'E-mail e/ou senha invalidos') {
      const msg = json.error
      noticePassword3(msg)
    }
}

</script>