<div class="aside-content">
  <div class="aside-title">
    <h3>Notícias</h3>
  </div>
  <div class="aside-forum">
    <%newsAside.forEach(function(item){%>
      <a href="/news/<%=item.title.split(' ').join('-')%>">
      <div class="news-week-1-aside">
        <div class="news-week-1-img-aside">
          <img src="media/<%=item.img.substring(0,item.img.length-7)%>150.jpg" alt="">
        </div>
        <div class="news-week-1-desc-aside">
          <div class="news-week-1-title-aside">
            <h3><%=item.title%></h3>
          </div>
          <div class="news-week-1-p-more-aside">
            <div class="news-week-1-p-aside">
              <p class="opine">Opine</p>
              <div class="news-week-1-p-comment-aside">
                <img src="images/forum.svg" alt="">
                <p><%=item.qtComments%></p>
              </div>
            </div>
            <div class="news-week-1-more">
              Saiba mais
            </div>
          </div>
        </div>
      </div>
      </a>
    <%});%>
  </div>
</div>